<%page args="percent,passed,categ,content_data,required,duration,course_about_name,course_about_link,course_about_id,course_about_img,course_about,compteur, atp_rank, course_overview, enrollment, show_courseware_link, cert_status, can_unenroll, credit_status, show_email_settings, course_mode_info, show_refund_option, is_paid_course, is_course_blocked, verification_status, course_requirements, dashboard_index, share_settings, display_course_modes_on_dashboard" expression_filter="h"/>

<%!
import urllib

from django.utils.translation import ugettext as _
from django.utils.translation import ungettext
from django.core.urlresolvers import reverse
from course_modes.models import CourseMode
from course_modes.helpers import enrollment_mode_display
from openedx.core.djangolib.js_utils import dump_js_escaped_json
from openedx.core.djangolib.markup import HTML, Text
from student.helpers import (
  VERIFY_STATUS_NEED_TO_VERIFY,
  VERIFY_STATUS_SUBMITTED,
  VERIFY_STATUS_RESUBMITTED,
  VERIFY_STATUS_APPROVED,
  VERIFY_STATUS_MISSED_DEADLINE,
  VERIFY_STATUS_NEED_TO_REVERIFY,
  DISABLE_UNENROLL_CERT_STATES,
)

#from course_progress.helpers import get_overall_progress
from openedx.core.lib.courses import course_image_url
%>

<%
  reverify_link = reverse('verify_student_reverify')
  cert_name_short = course_overview.cert_name_short
  if cert_name_short == "":
    cert_name_short = settings.CERT_NAME_SHORT

  cert_name_long = course_overview.cert_name_long
  if cert_name_long == "":
    cert_name_long = settings.CERT_NAME_LONG
  billing_email = settings.PAYMENT_SUPPORT_EMAIL
%>

<%namespace name='static' file='../static_content.html'/>
<%
user_id = request.user.id
course_id = course_overview.id
#course_progression = get_overall_progress(user_id,course_id)
course_progression = 50

"""
if not duration:
    duration = 0

hour_string = 'hour'
if int(duration) > 1:
     hour_string = 'hours'
"""
%>

<%

if required:
    required = "mandatory"
else:
    required = "optional"

%>

<style>
#atp_about_course_card .atp_course_link a{
  line-height: 45px!important;
  font-size: 16px!important;
}
</style>
% if atp_rank == "cours" and course_about == 0:
  % if compteur < 5:
  <li class="atp_course_item" data-categ="${categ.lower().replace(' ','')}">
  % else:
  <li class="atp_course_item atp_hide_cards" data-categ="${categ.lower().replace(' ','')}">
  % endif
   <div class="atp_course_image"><span class="cateogry_text">${_(categ)}</span>
          <a href="/courses/${course_overview.id}/courseware/">
                  <img src="${course_overview.image_urls['small']}" />
                  <div class="img_${categ.lower().replace(' ','')}"></div>
          </a>
   </div>
     <div class="progress_bar_status_up">
       <div class="progress_bar_status" style="width:${course_progression}%;"></div>
     </div>
   <div class="atp_course_info">
          <div class="atp_course_duration">
                 <div class="inside_atp_left"><img src="${static.url('images/duree.svg')}" class="svg"/><span>${duration}</span><div style="display:block;clear:left;height:0px;"></div></div>
	  </div>
          <div class="atp_course_dificulties">
                  <div class="inside_atp"><span>${_(required)}</span><img src="${static.url('images/obligatoire.svg')}" class="svg"/><div style="display:block;clear:left;height:0px;"></div></div>
          </div>
   </div>
   <div class="atp_course_title">
          <span class="primary-color-text">${course_overview.display_name_with_default}</span>
   </div>
   <div class="atp_course_picto">
     % if content_data.get('document_pdf'):
     <img src="${static.url('images/pdf.svg')}" class="svg"/>
     % endif
     % if content_data.get('webzine'):
     <img src="${static.url('images/webzine.svg')}" class="svg"/>
     % endif
     % if content_data.get('quiz'):
     <img src="${static.url('images/quiz.svg')}" class="svg"/>
     % endif
     % if content_data.get('video'):
     <img src="${static.url('images/video.svg')}" class="svg"/>
     % endif
     % if content_data.get('serious_game'):
     <img src="${static.url('images/seriousgame.svg')}" class="svg"/>
     % endif
     % if content_data.get('simulation_investissement'):
     <img src="${static.url('images/simulation_inv.svg')}" class="svg"/>
     % endif
     % if content_data.get('text_image'):
     <img src="${static.url('images/testes&images.svg')}" class="svg"/>
     % endif
   </div>
   <div class="atp_course_link">
          <a href="/courses/${course_overview.id}/courseware/" class="proceed primary-color-bg">${_("Proceed")}</a>
   </div>
  </li>



% elif atp_rank == 'invite' and course_about == 0:
  % if compteur < 5:
  <li class="atp_course_item" data-categ="${categ.lower().replace(' ','')}">
  % else:
  <li class="atp_course_item atp_hide_cards" data-categ="${categ.lower().replace(' ','')}">
  % endif
   <div class="atp_course_image"><span class="cateogry_text">${_(categ)}</span>
          <a href="/courses/${course_overview.id}/courseware/">
                  <img src="${course_overview.image_urls['small']}" />
                  <div class="img_${categ.lower().replace(' ','')}"></div>
          </a>
   </div>
   <div class="progress_bar_status_up">
  <div class="progress_bar_status" style="width:${course_progression}%;"></div>
</div>
   <div class="atp_course_info">
          <div class="atp_course_duration">
                  <div class="inside_atp_left"><img src="${static.url('images/duree.svg')}" class="svg"/><span>${duration}</span><div style="display:block;clear:left;height:0px;"></div></div>
          </div>
          <div class="atp_course_dificulties">
                  <div class="inside_atp"><span>${_(required)}</span><img src="${static.url('images/obligatoire.svg')}" class="svg"/><div style="display:block;clear:left;height:0px;"></div></div>
          </div>
   </div>
   <div class="atp_course_title">
          <span class="primary-color-text">${course_overview.display_name_with_default}</span>
   </div>
   <div class="atp_course_picto">
     % if content_data.get('document_pdf'):
     <img src="${static.url('images/pdf.svg')}" class="svg"/>
     % endif
     % if content_data.get('webzine'):
     <img src="${static.url('images/webzine.svg')}" class="svg"/>
     % endif
     % if content_data.get('quiz'):
     <img src="${static.url('images/quiz.svg')}" class="svg"/>
     % endif
     % if content_data.get('video'):
     <img src="${static.url('images/video.svg')}" class="svg"/>
     % endif
     % if content_data.get('serious_game'):
     <img src="${static.url('images/seriousgame.svg')}" class="svg"/>
     % endif
     % if content_data.get('simulation_investissement'):
     <img src="${static.url('images/simulation_inv.svg')}" class="svg"/>
     % endif
     % if content_data.get('text_image'):
     <img src="${static.url('images/testes&images.svg')}" class="svg"/>
     % endif
   </div>
   <div class="atp_course_link">
          <a href="/courses/${course_overview.id}/about" class="more_info  primary-color-bg">${_("More information")}</a>
   </div>
  </li>



% elif atp_rank == 'finish' and course_about == 0:
  % if compteur < 5:
  <li class="atp_course_item" data-categ="${categ.lower().replace(' ','')}">
  % else:
  <li class="atp_course_item atp_hide_cards" data-categ="${categ.lower().replace(' ','')}">
  % endif
   <div class="atp_course_image"><span class="cateogry_text">${_(categ)}</span>
          <a href="/courses/${course_overview.id}/courseware/">
                  <img src="${course_overview.image_urls['small']}" />
                  <div class="img_${categ.lower().replace(' ','')}"></div>
          </a>
   </div>
   <div class="progress_bar_status_up">
  <div class="progress_bar_status" style="width:${course_progression}%;"></div>
</div>
   <div class="atp_course_info">
          <div class="atp_course_duration">
                  <div class="inside_atp_left"><img src="${static.url('images/duree.svg')}" class="svg"/><span>${duration}</span><div style="display:block;clear:left;height:0px;"></div></div>
          </div>
          <div class="atp_course_dificulties">
                  <div class="inside_atp"><span>${_(required)}</span><img src="${static.url('images/obligatoire.svg')}" class="svg"/><div style="display:block;clear:left;height:0px;"></div></div>
	  </div>
   </div>
   <div class="atp_course_title">
          <span class="primary-color-text">${course_overview.display_name_with_default}</span>
   </div>
   <!-- idicatif success -->
   <!-- idicatif success -->
   <div class="atp_course_progress">
     % if passed:
     <img src="${static.url('images/success.png')}" class="validate_img"/><span class="is_green validate">${_("Validated")} ${float(int(percent * 1000)/10)}%</span>
     % else:
     <img src="${static.url('images/error.png')}" class="validate_img"/><span class="validate">${_("Not validated")} ${float(int(percent * 1000)/10)}%</span>
     % endif
   </div>
   <!-- idicatif success -->
   <!-- idicatif success -->
   <!-- idicatif success -->
   <div class="atp_course_picto">
    % if content_data.get('document_pdf'):
    <img src="${static.url('images/pdf.svg')}" class="svg"/>
    % endif
    % if content_data.get('webzine'):
    <img src="${static.url('images/webzine.svg')}" class="svg"/>
    % endif
    % if content_data.get('quiz'):
    <img src="${static.url('images/quiz.svg')}" class="svg"/>
    % endif
    % if content_data.get('video'):
    <img src="${static.url('images/video.svg')}" class="svg"/>
    % endif
    % if content_data.get('serious_game'):
    <img src="${static.url('images/seriousgame.svg')}" class="svg"/>
    % endif
    % if content_data.get('simulation_investissement'):
    <img src="${static.url('images/simulation_inv.svg')}" class="svg"/>
    % endif
    % if content_data.get('text_image'):
    <img src="${static.url('images/testes&images.svg')}" class="svg"/>
    % endif
   </div>
   <div class="atp_course_link">
          <a href="/courses/${course_overview.id}/about" class="more_info  primary-color-bg">${_("More information")}</a>
   </div>
  </li>
% elif atp_rank == 'invite' and course_about == 1:
  % if compteur < 5:
  <li class="atp_course_item" data-categ="${categ.lower().replace(' ','')}">
  % else:
  <li class="atp_course_item atp_hide_cards" data-categ="${categ.lower().replace(' ','')}">
  % endif
   <div class="atp_course_image"><span class="cateogry_text">${_(categ)}</span>
                  <img src="${course_about_img}" />
                  <div class="img_${categ.lower().replace(' ','')}"></div>
   </div>
   <div class="progress_bar_status_up">
  <div class="progress_bar_status" style="width:${course_progression}%;"></div>
</div>
   <div class="atp_course_info">
          <div class="atp_course_duration">
                  <div class="inside_atp_left"><img src="${static.url('images/duree.svg')}" class="svg"/><span>${duration}</span><div style="display:block;clear:left;height:0px;"></div></div>
	  </div>
          <div class="atp_course_dificulties">
                  <div class="inside_atp"><span>${_(required)}</span><img src="${static.url('images/obligatoire.svg')}" class="svg"/><div style="display:block;clear:left;height:0px;"></div></div>
	  </div>
   </div>
   <div class="atp_course_title">
          <span class="primary-color-text">${course_about_name}</span>
   </div>
   <div class="atp_course_picto">
     % if content_data.get('document_pdf'):
     <img src="${static.url('images/pdf.svg')}" class="svg"/>
     % endif
     % if content_data.get('webzine'):
     <img src="${static.url('images/webzine.svg')}" class="svg"/>
     % endif
     % if content_data.get('quiz'):
     <img src="${static.url('images/quiz.svg')}" class="svg"/>
     % endif
     % if content_data.get('video'):
     <img src="${static.url('images/video.svg')}" class="svg"/>
     % endif
     % if content_data.get('serious_game'):
     <img src="${static.url('images/seriousgame.svg')}" class="svg"/>
     % endif
     % if content_data.get('simulation_investissement'):
     <img src="${static.url('images/simulation_inv.svg')}" class="svg"/>
     % endif
     % if content_data.get('text_image'):
     <img src="${static.url('images/testes&images.svg')}" class="svg"/>
     % endif
   </div>
   <div class="atp_course_link">
          <a style="cursor:pointer" class="start_module  primary-color-bg">${_("Start")}</a>
   </div>
  </li>



% elif atp_rank == 'cours' and course_about == 1:
  % if compteur < 5:
  <li class="atp_course_item" data-categ="${categ.lower().replace(' ','')}">
  % else:
  <li class="atp_course_item atp_hide_cards" data-categ="${categ.lower().replace(' ','')}">
  % endif
   <div class="atp_course_image"><span class="cateogry_text">${_(categ)}</span>
          <a href="/courses/${course_overview.id}/courseware/">
                  <img src="${course_about_img}" />
                  <div class="img_${categ.lower().replace(' ','')}"></div>
          </a>
   </div>
   <div class="progress_bar_status_up">
  <div class="progress_bar_status" style="width:${course_progression}%;"></div>
</div>
   <div class="atp_course_info">
          <div class="atp_course_duration">
                  <div class="inside_atp_left"><img src="${static.url('images/duree.svg')}" class="svg"/><span>${duration}</span><div style="display:block;clear:left;height:0px;"></div></div>
	  </div>
          <div class="atp_course_dificulties">
                  <div class="inside_atp"><span>${_(required)}</span><img src="${static.url('images/obligatoire.svg')}" class="svg"/><div style="display:block;clear:left;height:0px;"></div></div>
	  </div>
   </div>
   <div class="atp_course_title">
          <span class="primary-color-text">${course_about_name}</span>
   </div>
   <div class="atp_course_picto">
     % if content_data.get('document_pdf'):
     <img src="${static.url('images/pdf.svg')}" class="svg"/>
     % endif
     % if content_data.get('webzine'):
     <img src="${static.url('images/webzine.svg')}" class="svg"/>
     % endif
     % if content_data.get('quiz'):
     <img src="${static.url('images/quiz.svg')}" class="svg"/>
     % endif
     % if content_data.get('video'):
     <img src="${static.url('images/video.svg')}" class="svg"/>
     % endif
     % if content_data.get('serious_game'):
     <img src="${static.url('images/seriousgame.svg')}" class="svg"/>
     % endif
     % if content_data.get('simulation_investissement'):
     <img src="${static.url('images/simulation_inv.svg')}" class="svg"/>
     % endif
     % if content_data.get('text_image'):
     <img src="${static.url('images/testes&images.svg')}" class="svg"/>
     % endif
   </div>
   <div class="atp_course_link">
          <a href="/courses/${course_about_id}/courseware/" class="proceed  primary-color-bg">${_("Proceed")}</a>
   </div>
  </li>



% elif atp_rank == 'finish' and course_about == 1:
  % if compteur < 5:
  <li class="atp_course_item" data-categ="${categ.lower().replace(' ','')}">
  % else:
  <li class="atp_course_item atp_hide_cards" data-categ="${categ.lower().replace(' ','')}">
  % endif
   <div class="atp_course_image"><span class="cateogry_text">${_(categ)}</span>
          <a href="/courses/${course_overview.id}/courseware/">
                  <img src="${course_about_img}" />
                  <div class="img_${categ.lower().replace(' ','')}"></div>
          </a>
   </div>
   <div class="progress_bar_status_up">
  <div class="progress_bar_status" style="width:${course_progression}%;"></div>
</div>
   <div class="atp_course_info">
          <div class="atp_course_duration">
                  <div class="inside_atp_left"><img src="${static.url('images/duree.svg')}" class="svg"/><span>${duration}</span><div style="display:block;clear:left;height:0px;"></div></div>
          </div>
          <div class="atp_course_dificulties">
                  <div class="inside_atp"><span>${_(required)}</span><img src="${static.url('images/obligatoire.svg')}" class="svg"/><div style="display:block;clear:left;height:0px;"></div></div>
	  </div>
   </div>
   <div class="atp_course_title">
          <span class="primary-color-text">${course_about_name}</span>
   </div>
   <div class="atp_course_progress">
     % if passed:
     <img src="${static.url('images/success.png')}" class="validate_img"/><span class="is_green validate">${_("Validated")}</span>
     % else:
     <img src="${static.url('images/error.png')}" class="validate_img"/><span class="validate">${_("Not validated")}</span>
     % endif
   </div>
   <div class="atp_course_picto">
     % if content_data.get('document_pdf'):
     <img src="${static.url('images/pdf.svg')}" class="svg"/>
     % endif
     % if content_data.get('webzine'):
     <img src="${static.url('images/webzine.svg')}" class="svg"/>
     % endif
     % if content_data.get('quiz'):
     <img src="${static.url('images/quiz.svg')}" class="svg"/>
     % endif
     % if content_data.get('video'):
     <img src="${static.url('images/video.svg')}" class="svg"/>
     % endif
     % if content_data.get('serious_game'):
     <img src="${static.url('images/seriousgame.svg')}" class="svg"/>
     % endif
     % if content_data.get('simulation_investissement'):
     <img src="${static.url('images/simulation_inv.svg')}" class="svg"/>
     % endif
     % if content_data.get('text_image'):
     <img src="${static.url('images/testes&images.svg')}" class="svg"/>
     % endif
   </div>
   <div class="atp_course_link">
          <a href="/courses/${course_about_id}/courseware/" class="more_info primary-color-bg">${_("More information")}</a>
   </div>
  </li>
% endif
