{% extends 'ace_common/edx_ace/common/base_body.html' %}

{% load i18n %}
{% load static %}
{% block content %}
<table width="100%" align="left" border="0" cellpadding="0" cellspacing="0" role="presentation">
    <tr>
        <td>
            <h1>
                Reset della password completato
            </h1>
            <p style="color: rgba(0,0,0,.75);">
                {% filter force_escape %}
                Buongiorno, 
                {% endfilter %}
            </p> 
            <p style="color: rgba(0,0,0,.75);">
                {% filter force_escape %}
                Ti confermiamo che la sua password è stata cambiata con successo. Puoi effettuare l'accesso a Accelera con Amazon utilizzando la tua nuova password.
                {% endfilter %}
                <br />
            </p>

                {% filter force_escape %}
                {% blocktrans asvar course_cta_text %}Sign in{% endblocktrans %}
                {% endfilter %}
                {% include "ace_common/edx_ace/common/return_to_course_cta.html" with course_cta_text=course_cta_text course_cta_url=login_link %}
        </td>
    </tr>
</table>
{% endblock %}
