body.view-in-course .container {
  margin-top: 30px;
}

body.view-in-course .course-wrapper {
  max-width: 1840px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
}

.container>div {
  box-shadow: none;
  border: none;
}

.course-index {
  border: 1px solid #c8c8c8;
  width: 300px;
  margin-left: 30px;
  margin-right: 15px;
  display: block;
  float: left;
  border: none;
}

.submit-attempt-container button:not(:disabled), .submit-attempt-container button:not(:disabled):hover {
    background-color: #0C1C49!important;
    border-color: #0C1C49!important;
}
.course-wrapper .course-content {
  padding: 40px;
  margin-left: 75px;
  margin-right: 30px;
  margin-top: 0;
  margin-bottom: 50px;
  border: 1px solid #c8c8c8;
  width: calc(100% - 454px);
  display: block;
  float: left;
  position: relative;
}
.submit-attempt-container{
  position : absolute;
  left : 10px;

}
.course-wrapper .course-content .vert-mod .vert, .course-wrapper .courseware-results-wrapper .vert-mod .vert{
   border:none!important
}



.finished h3.problem-header {
    border : none!important;
}
.submit-attempt-container .submit, .xmodule_display.xmodule_CapaModule div.problem .action .submit-attempt-container .submit:hover, .xmodule_display.xmodule_CapaModule div.problem .action .submit-attempt-container .submit:focus {
    padding-top: 2px!important;
    padding-bottom: 2px!important;
    border-radius: 11px!important;
    color: #fff!important;
    background-color: gray!important;
    border-color: gray !important;
}

.seq_content_next a {
    font-weight: 400;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 11px;
    width : auto!important;
    padding-top: 3px;
    padding-bottom: 3px;
    line-height: 18.4px;
    padding-left: 20px;
    padding-right: 20px;
}
/*
.wrapper-course-modes,.course-wrapper .course-content .path,.xmodule_display.xmodule_SequenceModule .sequence-nav,.wrap-instructor-info.studio-view,.course-content .bookmark-button-wrapper {
  display: none;
}
*/
/*Display course page*/
.xmodule_display.xmodule_SequenceModule .sequence-nav{
    margin: 0px;
    border:none;
    padding: 0px 40px;
    background:white;
    margin: 20px 0px 0px 0px;
}
.xmodule_display.xmodule_SequenceModule .sequence-suptitle h3{
    font-family: "mywebfont";
    text-align: left;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 15px;
    margin-top: 15px;
    border: none;
    padding-left: 40px;
    margin: 40px 0px 0px 0px;
}
.xmodule_display.xmodule_SequenceModule .sequence-nav-button:hover, .xmodule_display.xmodule_SequenceModule .sequence-nav-button:active, .xmodule_display.xmodule_SequenceModule .sequence-nav-button.active, .xmodule_display.xmodule_SequenceModule .sequence-nav button:hover, .xmodule_display.xmodule_SequenceModule .sequence-nav button:active, .xmodule_display.xmodule_SequenceModule .sequence-nav button.active{
    padding-top: 0px;
}
.xmodule_display.xmodule_SequenceModule .sequence-nav-button:hover, .xmodule_display.xmodule_SequenceModule .sequence-nav-button:active, .xmodule_display.xmodule_SequenceModule .sequence-nav-button.active, .xmodule_display.xmodule_SequenceModule .sequence-nav button:hover, .xmodule_display.xmodule_SequenceModule .sequence-nav button:active, .xmodule_display.xmodule_SequenceModule .sequence-nav button.active{
    border: none;
}
.xmodule_display.xmodule_SequenceModule .sequence-nav ol li{
    border: none;
}
.xmodule_display.xmodule_SequenceModule .sequence-nav ol li button{
    border: none;
    height: auto;
}
#sequence-list li button.nav-item h3{
    font-family: "mywebfont";
    text-align: left;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 15px;
    margin-top: 15px;
    border: none;
}
#sequence-list li button.result-score h3{
    font-family: "mywebfont";
    text-align: left;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 15px;
    margin-top: 15px;
    border: none;
}
.xmodule_display.xmodule_SequenceModule .sequence-nav{
    height:auto;
}
.xmodule_display.xmodule_SequenceModule .sequence-nav ol{
    display: block;
}
#seq_content{
    padding: 0px 40px 20px 40px;
    background:white;
}
.xmodule_display.xmodule_SequenceModule .sequence-nav-button.button-next,.xmodule_display.xmodule_SequenceModule .sequence-nav-button.button-previous{
    display: none;
}
.course-wrapper .course-content .path, .course-wrapper .courseware-results-wrapper .path,.wrapper-course-modes {
  display: none;
}
.xmodule_display.xmodule_SequenceModule .sequence-nav-button span:not(:last-child),.xmodule_display.xmodule_SequenceModule .sequence-nav-button span:not(:last-child),.button-previous span {
  display: none;
}
.course-wrapper .course-content .vert-mod .vert>.xblock-student_view,.course-wrapper .courseware-results-wrapper .vert-mod .vert>.xblock-student_view {
    border: none;
}
.course-content .bookmark-button-wrapper {
  display: none;
}
#course-content{
    padding: 0px;
}
#result-content{
    padding: 0px 40px 20px;
    background: white;
    display: none;
}
#tma_course_ariane {
  width: 100%;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}
#tma_course_ariane span,#tma_course_ariane a,#tma_course_ariane a:hover,#tma_course_ariane a:focus{
  font-size: 14px;
  text-decoration: none;
  font-family:"mywebfont";
}
#tma_course_top h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -300px;
  margin-top: -36px;
  width: 600px;
  height: auto;
  font-size: 38px;
  line-height: 36px;
  text-transform: uppercase;
  color: #fff;
  font-family:"mywebfont";
  font-weight: bold;
  text-align:center;
  display:none;
}
.seq_content_next{
    padding: 0px 40px 20px 40px;
    text-aling:center;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    background-color: white;
    color: #fff;
    height: 50px;
    display:none;
}
.seq_content_next a{
    left:50%;
    position: absolute;
    color: #fff;
    font-weight: 400;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
    cursor:pointer;
    width: 75px;
    border-radius: 11px;
    padding-top: 3px;
    padding-bottom: 3px;
    line-height: 18.4px;
    padding-left: 20px;
    padding-right: 20px;

}.seq_content_next.disabled_tma a{
    background-color: rgb(128, 128, 128);
    cursor:auto;
    font-weight: 400;
    width: 75px;
    border-radius: 11px;
    padding-top: 3px;
    padding-bottom: 3px;
    line-height: 18.4px;
    padding-left: 20px;
    padding-right: 20px;
}
.sequence-nav .sequence-list-wrapper button.nav-item.disabled_unit_tma{
	color: rgb(128, 128, 128);
}
.sequence-tooltip{
   display:none!important;
}
#sequence-list li button.nav-item.disabled_unit_tma h3:before{
	color: rgb(128, 128, 128);
    position: relative;
    content: "";
    display: inline-block;
    width: 0.4em;
    height: 0.4em;
    border-right: 0.2em solid rgb(128, 128, 128);
    border-top: 0.2em solid rgb(128, 128, 128);
    margin-right: 0.5em;
    margin-bottom: 5px;
    transform: rotate(135deg);
}
#sequence-list li button.nav-item.disabled_unit_tma h3{
    color: rgb(128, 128, 128);
    font-family: "mywebfont";
    text-align: left;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 15px;
    margin-top: 15px;
    border: none;
}
div.action div.final_solution.details-decoration{
    background: whitesmoke;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
div.final_solution.details-decoration div.tag_container{
    position: absolute;
}

div.final_solution.details-decoration i.info_tag{
    position: absolute;
    top: -40px;
    left: -45px;
    font-size: 50px;
    color: rgb(128,128,128);
}
.xmodule_display.xmodule_CapaModule div.problem .notification .icon{
    top: 5px;
    font-size: 30px !important;
    float: none;
}
.xmodule_display.xmodule_CapaModule div.problem .notification.error{
    border-bottom: none !important;
    text-align: center;
    width: auto;
    color: #cb0712;
}
.xmodule_display.xmodule_CapaModule div.problem .notification.success{
    border-bottom: none !important;
    text-align: center;
    width: auto;
    color: #009b00;
}
.notification.error.notification-submit span.notification-message{
   color: #cb0712;
}
.xmodule_display.xmodule_CapaModule div.problem .notification .notification-message{
    width: auto !important;
    font-weight: bold;
}
#reset_bouton{
 color: white!important;;

}
#sequence-list li button.nav-item h3:hover:before{
    border-right: 0.2em solid black;
    border-top: 0.2em solid black;
}

#tma_course_top {
  width: calc(100% - 60px);
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  min-height: 0;
  background-image:url('');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  box-sizing: initial;
}

/* menu courses */
.course-index .accordion .course-navigation .button-chapter.active  {
  margin-top: 15px;
  margin-bottom: 0px;
}
.course-index .accordion .course-navigation .button-chapter {
  margin-top: 15px;
  margin-bottom: 15px;
}
.course-index .accordion .course-navigation .button-chapter {
  border: none;
  box-shadow: none;
  border: 1px solid #c6c6c6;
}
.course-index .accordion .course-navigation .chapter-content-container.is-open {
  border: 1px solid #c6c6c6;
  border-top: none;
}
.course-index .accordion .course-navigation .button-chapter .group-heading,.course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item a:hover,.accordion-display-name {
  font-family:"mywebfont";
}
.course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item.active a {
  background: none;
}
.active .accordion-nav .accordion-display-name {
  background: none;
  font-family:"mywebfont";
}
/*
.course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item a:hover .subtitle,.course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item a p.subtitle,.course-index .accordion .course-navigation .button-chapter .group-heading .icon {
  display: none;
}
*/
.button-previous span  {
  /*display: none;*/
  padding-right: 0;
  font-family:"mywebfont";
}
.xmodule_display.xmodule_SequenceModule .sequence-nav-button span:not(:last-child) {
  padding-right: 0;
  font-family: "FontAwesome";
}
.xmodule_display.xmodule_SequenceModule .sequence-nav-button  span.fa-chevron-prev {
  display: block;
}
.xmodule_display.xmodule_SequenceModule nav.sequence-bottom .sequence-nav-button {
  min-width: 45px;
  padding:0;
  position: absolute;
  bottom: 0;
  border-bottom: none;
}
.xmodule_display.xmodule_SequenceModule nav.sequence-bottom .button-previous {
  left: 0;
  border-left: none;
}
.xmodule_display.xmodule_SequenceModule nav.sequence-bottom .button-next {
  right: 0;
  border-right: none;
  border-left: 1px solid rgb(200, 200, 200);
}
.xmodule_display.xmodule_SequenceModule nav.sequence-bottom .sequence-nav-button:last-of-type {
  border-left: 1px solid rgb(200, 200, 200);
}
.xmodule_display.xmodule_SequenceModule nav.sequence-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 45px;
}
@media screen and (max-width: 1021px) {
  .xblock.xblock-student_view.xblock-student_view-html iframe{
    max-height: calc( 100vh - 100px);
    max-width: calc( 100vw - 150px);
  }
}
@media screen and (min-width: 1022px) {
  .xblock.xblock-student_view.xblock-student_view-html iframe{
    max-height: calc( 100vh - 175px);
    max-width: calc( 100vw - 400px);
  }
}

/*
.xblock .xblock h3.unit-title {
  display: none;
}
*/
.course-index .accordion .course-navigation .button-chapter.is-open {
  margin-top: 15px;
  margin-bottom: 0px;
  border-bottom: none;
}
.course-index .accordion .course-navigation .button-chapter:first-child {
  margin-top: 0;
}
.course-index .accordion .course-navigation .button-chapter.is-open .group-heading {
  padding: 15px 0 15px 0;
  margin-left: 20px;
  margin-right: 20px;
  color: rgb(49, 174, 238);
  border-bottom: 1px solid #c6c6c6;
}
body.view-in-course .course-wrapper {
  margin-bottom: 50px;
}

.course-index .accordion .course-navigation #holding-section-result.is-open {
  border-bottom: 1px solid #c6c6c6;
}
.course-index .accordion .course-navigation #holding-section-result.is-open .group-heading {
  border-bottom: none;
}

/* result page */
#final_score {
  text-align: center;
}
.xblock .xblock h3.unit-title {
  font-family:"mywebfont";
  text-transform: uppercase;

}
#title_result,.xmodule_display.xmodule_HtmlModule h2 {
  line-height: 25px;
  font-size: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 4px solid #c6c6c6;
  text-transform:uppercase;
  text-align: left;
  font-family:"mywebfont";
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  font-weight: bold;
}
#score_first_para,#second_par_score {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 26px;
  font-family: "mywebfont";
}
#second_par_score {
  font-weight:normal;
}
#score_div_info span {
  display:block;
  width: 100%;
  text-align: center;
  height: auto;
  font-family: "mywebfont";
  font-weight: bold;
}
#score_div_info span:first-child {
  font-size: 16px;
  line-height: 16px;
}
#score_div_info span:last-child {
  font-size: 30px;
  line-height: 30px;
}
#score_button {
  margin-top: 25px;
  margin-bottom: 25px;
}
#score_button button,#score_button button:hover,#score_button button:focus {
  height: 40px;
  line-height: 40px;
  color: #fff;
  border-radius: 20px;
  text-shadow: none;
  box-shadow: none;
  border: none;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
  background-image: none;
}
.course-wrapper .course-content {
  padding-top: 0;
  border: none;
}

body.view-in-course .window-wrap {
  min-width: 0;
}
.inprogress,.picto_add_success,.picto_add_failed {
  width: 80px;
  height: 80px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}
.picto_add_success {
  fill:rgb(220, 158, 41);
}
.picto_add_failed {
  fill:red;
}
.course-index .accordion .course-navigation .chapter-content-container.is-open a {
  position: relative;
}
.picto_accordion {
  width: 20px;
  height: 20px;
  display:block;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 5px;
  margin-left: auto;
  margin-right: auto;
}
.course-index .accordion .course-navigation .button-chapter .group-heading {
  padding: 15px 20px 15px 20px;
}
.course-index .accordion .course-navigation .button-chapter.is-open .group-heading .picto_accordion{
 right: -15px;
}
.sub_menu_picto_accordion {
  right: 100%;
  left: 0;
}
.course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item a {
  padding: 5px 30px;
}
.menu-item {
  position: relative;
}
.fa-caret-right:before,.fa-caret-down:before {
  content: "";
}
.course-wrapper .course-content p {
  font-family: "mywebfont";
}
#congrats_score {
  width: calc(100% - 20px);
  padding: 10px;
  padding-top: 20px;
  font-weight: bold;
  font-size: 35px;
}
.wrap-instructor-info {
  margin: 0;
}
.wrap-instructor-info .instructor-info-action:hover,.wrap-instructor-info .instructor-info-action,.wrap-instructor-info .instructor-info-action:focus {
  color: #fff;
  background-color: transparent;
  float: none;
  text-align: left;
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 0;
}
body.view-in-course .container {
  margin-top: 10px;
}
#tma_course_top {
  margin-top: 10px;
}
#tma_course_ariane span, #tma_course_ariane a, #tma_course_ariane a:hover, #tma_course_ariane a:focus {
  text-transform: uppercase;
}
#tma_course_ariane span, #tma_course_ariane a, #tma_course_ariane a:hover, #tma_course_ariane a:focus {
  color: #fff;
}
#tma_course_top h1 {
  display:block;
}
#tma_course_top {
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  margin-top: 0;
}
.group-heading,.active .accordion-nav .accordion-display-name,#tma_course_ariane span {
  font-weight: bold;
}
@media(max-width: 1440px) {
  #tma_course_top {
    width: calc(100% - 60px);
    padding-left: 30px;
    padding-right: 30px;
  }
  body.view-in-course .course-wrapper {
    width: 100%;
  }
}
@media(max-width:1180px) {
  #tma_course_top {
    width: calc(100% - 30px);
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media(max-width:768px) {
  #tma_course_top {
    width: calc(100% - 20px);
    padding-left: 10px;
    padding-right: 10px;
  }
  .course-index {
    margin-left: 15px;
    margin-right: 15px;
    width: calc(100% - 30px);
  }
  .course-index .accordion .course-navigation .button-chapter.is-open,.course-index .accordion .course-navigation .button-chapter {
    margin-top: 0;
    margin-bottom: 0;
  }
  .course-wrapper .course-content {
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    width: calc(100% - 30px);
  }
}

@media(max-width: 700px) {
  #tma_course_top h1 {
    font-size: 30px;
    width: 300px;
    position: relative;
    top: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
}
.course-index .accordion .course-navigation .button-chapter .group-heading, .course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item a:hover, .accordion-display-name {
  font-weight: bold;
}
#tma_course_ariane span, #tma_course_ariane a, #tma_course_ariane a:hover, #tma_course_ariane a:focus {
  font-weight: bold;
}
@media(max-width:1288px) {
  #tma_course_top h1 {
    left: calc(95% - 300px);
    right: 0;
  }
}
@media(max-width:955px) {
  #tma_course_top h1 {
    left: calc(100% - 300px);
    right: 0;
  }
}
@media(max-width:899px) {
  #tma_course_top h1 {
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0;
  }
  #tma_course_ariane {
    position: relative;
  }
}


  /* Taille des titres*/
  h3{
    font-size: 1.2em!important;
  }
  /*Modification du sens des chevrons*/
  #sequence-list li button.nav-item h3::before, #sequence-list li button.result-score h3::before {
    transform:rotate(45deg)!important;
  }
  #sequence-list li button.nav-item.active h3::before, #sequence-list li button.result-score.active h3::before{
    transform:rotate(135deg)!important;
  }
  /*Modification couleur titre questions bloquees*/
  .not_finished h3.problem-header{
    color:rgb(128, 128, 128)!important;
  }
  /* Suppression bouton suivant question si non soumis*/
  .problem .next_button{
    display: none!important;
  }
  .finished .problem .next_button{
    display: inline-block!important;
  }
  .problem .next{
    float: none!important;
  }

  /* Couleur affichage erreurs */
  .xmodule_display.xmodule_CapaModule div.problem .notification.error{
    color:red!important;
  }
  .xmodule_display.xmodule_CapaModule div.problem .notification.success{
    color:green!important;
  }

  #final_score{
    padding:10px;
  }

  .finished h3.problem-header{
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
  }

  /* Couleur par defaut des titres des chapitres */
  .xmodule_display.xmodule_SequenceModule .sequence-suptitle h3{
    color:grey;
  }


  .course-wrapper .course-content{
    margin-left: 2%;
    margin-right: 0;
    width:96%;
  }
  .course-index{
    margin-left: 0;
  }
  body.view-in-course .container{
    margin-top: 20px;
  }
  #tma_course_top{
    display: flex;
    align-items: center;
    height: auto!important;
  }
  #tma_title_wrapper{
    width: 70%
  }
  #tma_title_wrapper h1{
    margin-bottom: 0;
    position: static;
    top: auto;
    left: auto;
    margin-top: 0!important;
    width: 100%;
    margin-left: 0;
    padding:5px;
  }
  #tma_course_ariane{
    width: 30%;
  }
  .content-wrapper{
    min-height: calc(100vh - 100px)!important;
  }
  @media (max-width: 1023px){
    #tma_course_top{
      display: block;
      padding-top:85px;
    }
    #tma_title_wrapper{
      width: 100%;
    }
    #tma_course_ariane{
      width: 100%;
    }
  }
  @media (max-width: 768px){
    .course-wrapper .course-content{
      width: 100%;
    }
    .course-index{
      width: 100%!important;
    }
    #tma_course_ariane{
      width: 100%;
    }
    #tma_title_wrapper{
      width: 100%
    }
    #tma_title_wrapper h1{
      text-align: left;
    }
  }
/* quiz customisation */
.wrap-instructor-info {
  display: none;
}
.xblock .xblock h3.unit-title {
  text-align:center;
  font-weight:bold;
  font-size: 24px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  display:none;
}
.problem-header {
  cursor: pointer;
}
.sequence .seq_content .is_overflow {
  height: 25px;
  overflow: hidden;
  padding-bottom: 0;
}
.problem-action-buttons-wrapper,.problem-progress {
  display: none !important;
}
.position_atp {
  position: relative;
}

.is_overflow .arrow_atp:before {
    transform: rotate(315deg) !important;
}
.not_finished .arrow_atp:before {
  border-right: 0.2em solid rgb(128, 128, 128) !important;
  border-top: 0.2em solid rgb(128, 128, 128) !important;
}
.xblock .xblock h3{
  text-transform: capitalize;
  font-size: 18px;
}
.indicator-container,.explanation-title {
  display: none !important;
}
.xmodule_display.xmodule_CapaModule div.problem .action .submit-attempt-container .submit,.xmodule_display.xmodule_CapaModule div.problem .action .submit-attempt-container .submit:hover,.xmodule_display.xmodule_CapaModule div.problem .action .submit-attempt-container .submit:focus {
  padding-top: 2px;
  padding-bottom:2px;
  border-radius: 11px;
  color: #fff;
  background-color: gray;
  border-color: gray !important;
}
.xmodule_display.xmodule_CapaModule div.problem .action .submit-attempt-container .submit{
  float: none;
}
.sequence .seq_content .not_finished {
  height: 25px;
  overflow: hidden;
  padding-bottom: 0;
}
.finished .submit {
  display: none;
}
.next_button {
  padding-top: 2px;
  padding-bottom:2px;
  border-radius: 11px;
  color: #fff !important;
  outline: none;
  cursor: inherit;
}
.not_finished .next_button,.next_button {
  background-color: grey !important;
  border-color: grey !important;
}

.finished .field {
  position: relative;
}
.finished .finished_voile {
  position: absolute;
  top: -4px;
  left: -4px;
  background-color: transparent;
  height: calc(100% + 2px);
  width: calc(100% + 2px);
  z-index: 2;
}
.position_atp button {
  min-width: 115px !important;
}
/* modif cours */
.xmodule_display.xmodule_CapaModule div.problem .action .submit-attempt-container {
  display: block;
  float: left;
}
.next {
  display: block;
  float: right;
  text-align: center;
}
.picto_sf {
  width: 18px;
  height: 18px;
  background-size: cover;
  background-position: center;
  display: inline-block;
  border-radius: 50%;
  margin-left: 15px;
}
.problems-wrapper:not(.is_overflow) .picto_sf{
    background-color: #0064AE;
}
.not_finished .picto_sf {
}
.xmodule_display.xmodule_SequenceModule .sequence-nav-button:hover, .xmodule_display.xmodule_SequenceModule .sequence-nav-button:active, .xmodule_display.xmodule_SequenceModule .sequence-nav-button.active, .xmodule_display.xmodule_SequenceModule .sequence-nav button:hover, .xmodule_display.xmodule_SequenceModule .sequence-nav button:active, .xmodule_display.xmodule_SequenceModule .sequence-nav button.active {
padding-top: 2px !important;

}
.success_quiz_atp .picto_sf {
  background-image: url('/media/checked.png');
  background-color: transparent!important;
  border-radius: 0%;
}
.fail_quiz_atp .picto_sf {
  background-image: url('/media/cross-remove-sign.png');
  background-color: transparent!important;
  border-radius: 0%;
}
.xmodule_display.xmodule_ProblemBlock div.problem button:hover{
     height : 30px!important;
}
.xmodule_display.xmodule_ProblemBlock div.problem button{ 
     height : 30px!important;
}

#module-over{
  color:#c6c6c6;
  font-style:italic;
  text-align: center;
  padding:20px;
}
.reset-btn{
  border-radius:20px;
  padding:10px 15px;
  color:white;
  font-family: mywebfont;
  font-weight:bold;
  font-size:0.8em;
  cursor:pointer
}
.reset-btn:hover{
  color:white;
}

/* Responsive title questions*/
.sequence .seq_content .is_overflow .problem{
  display: none;
}
.sequence .seq_content .is_overflow{
  height: auto!important;
}
.course-wrapper .course-content .xblock.xblock-student_view-vertical, .course-wrapper .course-content .xblock.xblock-public_view-vertical, .course-wrapper .courseware-results-wrapper .xblock.xblock-student_view-vertical, .course-wrapper .courseware-results-wrapper .xblock.xblock-public_view-vertical{
  max-width : 95%!important;

}
.xblock .xblock h3.problem-header{
  width:95%;
}

/* Result score grise si toutes questions non repondue*/
.disabled_score, .disabled_score:before{
  color:gray!important;
  border-color: gray!important;
}

#nav_button,#sub_context {
  display: inline-block;
}
.full_width {
  width: 100% !important;
}
.is_none_atp {
  display: none !important;
}
.is_hidden {
  visibility: hidden;
}
.border_radius_left {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.border_radius_right {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.sequence-bottom {
  visibility: hidden;
}
#sub_nav button,#sub_nav button:hover,#sub_nav button:focus {
  color: #fff !important;
  background-color: transparent;
  border: none;
  border-radius: 0px;
  text-shadow: none !important;
  box-shadow: none;
  font-size: 18px;
  height: 37px;
  line-height: 23px;
  vertical-align: middle;
  outline: none !important;
}
#nav_button button,#zoom {
  min-width: 80px;
}
.previous_title_nav span {
  margin-left: 15px;
}
.next_title_nav span {
  margin-right: 15px;
}
.svg-inline--fa.fa-w-16{
  height: 23px !important;
}
#full {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.submission-feedback {
 display: none !important;
}
.detailed-solution {
 display: none !important;
}
.inactive-color-text{
  color:lightgray;
}
.seq_content_next a {
  left: 0;
display: inline-block;
position: static;
}
.seq_content_next{
  text-align: center!important;
}
.nav-item h3 i{
  margin:5px;
}
.nav-item.active h3 i, #holding-section-result.active i{
   transform: rotate(90deg)!important;
}

.problems-wrapper:not(.is_overflow) .dropdown_atp .arrow_atp i{
  transform: rotate(180deg);
}

.dropdown_atp {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;
  text-align: right;
  width: 20px;
  cursor:pointer;
}
