#course_about_contenair {
 width: 100%;
 height: auto;
 margin-left: auto;
 margin-right: auto;
}
@media(max-width: 1440px) {
 #course_about_contenair {
  width: 100%;
  height: auto;
 }
}
#course_about_up_content {
 width: 82vw;
 margin-left: auto;
 margin-right: auto;
 height: auto;
}
@media(max-width:1440px) {
  width: 1180px;
}
@media(max-width: 1180px) {
 #course_about_up_content {
  width: calc(100% - 50px);
  padding-left: 25px;
  padding-right: 25px;
 }
}

#atp_about_course_card {
 float: right;
 width: 390px;
 height: auto;
}
#atp_about_desc {
 float: left;
 height: auto;
 width: calc(100% - 467px);
}

/* course card up from dashboard.scss */

.atp_course_item {
 width: 100%;
 margin: 0;
}


/* course details */


#atp_ariane_about {
 width: 100%;
 height: auto;
 margin-top: 25px;
 margin-bottom: 25px;
 font-size: 14px;
}
#atp_ariane_about span:first-child {
 font-weight: bold;
 cursor:pointer;
}
#atp_ariane_about span:last-child {
 font-weight: bold;
}

#atp_about_desc h1{
 text-align: left;
 font-size: 32px;
 font-family: "mywebfont";
 width: 100%;
 line-height: 30px;
 height: auto;
 text-transform: uppercase;
 word-wrap : break-word;
 font-weight: bold;
}

#atp_about_desc p:first-child,#course_about_accroche {
 font-size: 20px;
 line-height: 20px;
 width: 100%;
 height: auto;
}
#course_about_accroche {
  margin-top: 15px;
  margin-bottom: 15px;
}
#course_about_details {
 padding-top: 25px;
 padding-bottom: 25px;
 border-bottom: 1px solid #c6c6c6;
 border-top: 1px solid #c6c6c6;
}

#course_about_details ul {
 padding: 0;
 margin: 0;
 float: left;
 min-width: 200px;
 list-style-type: none;
}

#course_about_details #course_about_ul {
 margin-left: 25px;
 min-width: 200px;
 height: auto;
}

#course_about_details ul li:first-child {
 margin-bottom: 15px;
 width: 100%;
 height: auto;
}

#course_about_details ul li span:first-child {
 font-size: 14px;
 line-height: 14px;
 height: auto;
 width: 100%;
 text-transform: uppercase;
}

#course_about_details ul li span:last-child {
 color: #cf9c49;
 font-size: 14px;
 line-height: 12px;
 height: auto;
 width: 100%;
 font-weight: bold;
 text-transform: uppercase;
}

.course_about_atp,.course_about_atp_special {
 width: 100%;
 height: auto;
 margin-top: 10px;
 margin-bottom: 10px;
}
.course_about_atp h2 ,.course_about_atp_special h2 {
  width: 100%;
  padding: 0;
  font-family: "mywebfont";
  margin: 0;
  font-weight: bold;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.course_about_atp p {
 font-size: 14px;
 line-height: 16px;
 font-family: "mywebfont";
 width: calc(100% - 100px);
 margin-left: 30px;
 margin-right: 90px;
 height: auto;
 font-weight:bold;
}

.course_about_atp ul {
 margin: 0;
 width: calc(100% - 125px);
 height: auto;
 padding: 0;
 margin-left: 45px;
 margin-right: 80px;
}

.course_about_atp ul li {
 width: 100%;
 height: auto;
 margin-top: 8px;
 margin-bottom: 8px;
}

.course_about_atp_special ul {
 width: 80%;
 height: auto;
 margin-left :auto;
 margin-right: auto;
}

.down_block {
 display: none;
}

.course_about_atp_special ul li {
 margin-top: 5px;
 width: 100%;
 height: auto;
 margin-bottom: 5px;
}

.course_about_atp ul li span,.course_about_atp_special ul li span {
 font-size: 14px;
 line-height: 12px;
 height: auto;
 font-weight: bold;
}

.course_about_atp_special .special_block .up_block h4 {
 font-size: 15px;
 font-family: "mywebfont";
 line-height: 20px;
 font-weight: bold;
 text-transform: uppercase;
 width: 90%;
 height: auto;
 margin-left: auto;
 margin-right: auto;
 padding-top: 10px;
 padding-bottom: 5px;
 cursor: pointer;
 border-bottom: 1px solid transparent;
}

.course_about_atp_special .special_block .up_block h4 span {
 float: right;
 display: block;
 height: 100%;
 margin-top: 3px;
}

.course_about_atp_special .special_block .up_block .border_atp_course_about {
 border-bottom-color: #c6c6c6;
}

.special_block {
 width: calc(100% - 100px);
 height: auto;
 margin-left: 60px;
 margin-right: 40px;
 margin-top: 15px;
 margin-bottom: 15px;
 border: 1px solid #c6c6c6;
}

.course_about_atp_special p {
 font-style: italic;
 font-family:"mywebfont";
 font-size: 14px;
 line-height: 12px;
 width: calc(100% - 100px);
 height: auto;
 margin-left: 60px;
 margin-right: 60px;
}

#course_about_atp_end {
 padding-top: 50px;
 padding-bottom: 50px;
 background-color: #f2f2f2;
 width: 100%;
 height: auto;
 position: relative;
}

#encoche_course_about {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 1;
  width: 0px;
  height: 0px;
  border-left: 33px solid transparent;
  border-right: 33px solid transparent;
  border-top: 25px solid #fff;
  margin-left: -33px;
}

#course_about_atp_end h2 {
 text-align: center;
 font-family: "mywebfont";
 font-size: 23px;
 line-height: 21px;
 width: 100%;
 height: 24px;
 font-weight: bold;
}

/* dashboard css update */

.atp_course_image,.atp_course_image img {
 height: 265px;
}

@media(max-width:768px) {
 #atp_about_desc,#atp_about_course_card {
  float: none;
  width: 100%;
 }
 #atp_about_course_card {
  width: 390px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
 }
}

@media(max-width: 420px) {
 #atp_about_course_card {
  width:100%;
 }
 .atp_course_image,.atp_course_image img {
  height: auto;
 }
}

@media(max-width: 720px) {
 #course_about_details ul {
  padding: 0;
  margin: 0;
  float: left;
  min-width: 200px;
  list-style-type: none;
 }

 #course_about_details #course_about_ul {
  margin-left: 0px;
  margin-top: 25px;
  min-width: 200px;
  height: auto;
 }
}


/* picto end */

#picto_course_about {
 text-align: center;
}

#picto_course_about .dashboard_picto_tuto_tma {
 width: 200px;
 margin-left: 10px;
 margin-right: 10px;
 height: auto;
 display: inline-block;
}

#picto_course_about .atp_course_picto svg {
 width: 60px;
 height: 60px;
 display: block;
 margin-left: auto;
 margin-right: auto;
}

#picto_course_about .dashboard_picto_tuto_tma span {
 display: block;
 width: 100%;
 font-size: 16px;
 text-transform: uppercase;
 line-height: 15px;
 height: auto;
 font-weight: bold;
 text-align: center;
 margin-top: 15px;
}

@media(max-width:584px) {
 #picto_course_about .dashboard_picto_tuto_tma {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  margin-bottom: 35px;
 }
}

/* h2 img */

.course_about_atp h2 svg,.course_about_atp_special h2 svg {
  height: 25px;
  width: 25px;
  display: block;
  float: left;
  margin-right: 10px;
}
.arrow-bottom,.arrow-right {
  border: none
}
 .arrow-bottom:before,.arrow-right:before{
   position: relative;
   /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
   content: "";
   display: inline-block;
   /* By using an em scale, the arrows will size with the font */
   width: 0.4em;
   height: 0.4em;
   border-right: 0.2em solid black;
   border-top: 0.2em solid black;
   transform: rotate(45deg);
   margin-right: 0.5em;
   margin-bottom: 5px;
 }
 .arrow-bottom:before {
   transform: rotate(135deg);
 }
.course_about_atp h2 span,.course_about_atp_special h2 span {
  display: inline-block;
  min-height: 28px;
  line-height: 28px;
  vertical-align:middle;
  width: calc(100% - 75px);
  font-size: 16px;
  font-family:"mywebfont";
}
#atp_about_course_card ul {
  position: fixed;
  width: 370px;
  z-index: 0;
  background-color: #fff;
}
@media(max-width:768px) {
  #atp_about_course_card ul {
    position: inherit;
    width: 100%;
  }
}
.course_about_atp ul li, .course_about_atp_special ul li {
  position: relative;
}
.course_about_atp ul li .puce_li_about, .course_about_atp_special ul li .puce_li_about {
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  top: 50%;
  margin-top: -5px;
  left: -20px;
}


.course_about_atp h2,.course_about_atp_special h2 {
  position: relative;
}
.course_about_atp h2 svg, .course_about_atp_special h2 svg {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  margin-top: -12.5px;
}
.course_about_atp h2 span, .course_about_atp_special h2 span {
  margin-left: 30px;
}
#atp_about_course_card ul {
  margin-left: 20px;
}
@media(max-width:768px) {
  #atp_about_course_card ul {
    margin-left: 0;
  }
}
@media(max-width:450px) {
  .course_about_atp ul {
    width: calc(100% - 85px);
    margin-right: 0;
    margin-left: 85px;
  }
  .special_block {
    width: calc(100% - 60px);
    margin-right: 0;
  }
}

/* last up */
.course_about_atp ul li, .course_about_atp_special ul li {
  position: relative;
}
.course_about_atp ul li .puce_li_about, .course_about_atp_special ul li .puce_li_about {
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #31aeee;
  top: 50%;
  margin-top: -5px;
  left: -20px;
}
.course_about_atp h2,.course_about_atp_special h2 {
  position: relative;
}
.course_about_atp h2 svg, .course_about_atp_special h2 svg {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
}
#atp_about_course_card ul {
  margin-left: 20px;
}
#certiticate {
  color: #31aeee;
  border-bottom: 1px solid #31aeee;
}
#certiticate:hover {
  border-bottom: 1px solid transparent;
}
#certiticate svg {
  width: 20px;
  height: 20px;
  fill: #31aeee;
}
@media(max-width:768px) {
  #atp_about_course_card ul {
    margin-left: 0;
  }
}
@media(max-width:450px) {
  .course_about_atp ul {
    width: calc(100% - 85px);
    margin-right: 0;
    margin-left: 85px;
  }
  .special_block {
    width: calc(100% - 60px);
    margin-right: 0;
  }
}

.course_about_atp, .course_about_atp_special {
margin-top: 30px !important;
}
.img_regulatory,.img_fundamental,.img_oursolutions,.img_salesapproach {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 191px;
    z-index: 2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}
.img_fundamental {
    background-image: url("/static/images/fondamentaux.png");
}
.img_fundamentals {
    background-image: url("/static/images/fondamentaux.png");
}
.img_oursolutions {
    background-image: url("/static/images/nos_solutions.png");
}

.img_salesapproach {
    background-image: url("/static/images/zdemarche_comm.png");
}

.img_regulatory {
    background-image: url("/static/images/reglementaire.png");
}
#course_about_accroche {
  font-style: italic;
}
#course_about_details ul li:first-child {
  height: auto;
  min-height: 23px;
}
#certiticate {
  display: inline;
  margin-top: -5px;
}
.course_about_atp_special p {
 width: calc(100% - 100px) !important;
 margin-left: 60px !important;
 margin-right: 40px !important;
}
.special_block {
 margin-left: 30px !important;
 margin-right: 70px !important;
}
.course_about_atp_special p {
 margin-left: 30px !important;
 margin-right: 70px !important;

}
.validate {
  font-weight: normal !important;
  font-size: 14px;
}
.is_red {
  color: red !important;
}
.is_green {
  color: green !important;
}
.is_primary {
  color: #05144d !important;
}
.validate_img {
  height: 18px;
  margin-right: 4px;
}
.atp_course_picto svg path, .atp_course_picto svg polygon{
  fill:#C5C5C5!important;
}
.course_about_atp_special .special_block .up_block h4 {
 margin-left: 5px !important;
 width: 95% !important;
}
#atp_ariane_about {
  display: none;
}
#course_about_up_content {
  padding-top: 50px;
}
#course_about_details #course_about_ul {
  min-width: auto !important;
}
.validate{
  color: #cf9c49;
}
.course_detail_cartouche{
  width: 33%;
  float: left;
  padding: 10px;
  box-sizing: border-box;
  min-height: 60px;
  font-size: 0.9em;
}
.clear-left{
  clear:left
}
.course_detail_cartouche .details_titles{
  text-transform: uppercase;
}
.gold-maj-text{
  color: #cf9c49;
  font-weight: bold;
  text-transform: uppercase;
}
.course_detail_cartouche a{
  display: inline;
}
@media(max-width:980px){
  .course_detail_cartouche{
    width: 100%;
  }
}

#dashboard_tma section a .img_fundamentals {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 191px;
  z-index: 2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img_fundamentals {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 191px;
    z-index: 2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

@media(max-width:1362px) {
  .about_score {
    margin-left: 0 !important;
    margin-top: 20px !important;
  }
  #course_about_details .over_campaign {
    margin-left: 25px !important;
  }
}
@media(max-width:951px) {
  #course_about_details .over_campaign {
    margin-left: 0 !important;
  }
}
@media(max-width:859px) {
  .infos {
    margin-left: 0 !important;
    margin-top: 20px !important;
  }
}
@media(max-width:768px) {
  .infos,.about_score {
    margin-left: 25px !important;
    margin-top: 0 !important;
  }
}
@media(max-width:674px) {
  .about_score {
    margin-left: 0 !important;
    margin-top: 20px !important;
  }
  #course_about_details .over_campaign {
    margin-left: 25px !important;
  }
}
@media(max-width:504px) {
  #course_about_details .over_campaign {
    margin-left: 0 !important;
  }
}
@media(max-width:432px) {
  .about_score,.infos {
    margin-left: 0 !important;
    margin-top: 20px !important;
  }
}
.atp_course_progress {
 text-align: center;
 margin-top: 10px;
}
.over_campaign {

}
#gwb_the_game_is_over_19_03_2003 {
   color: #cf9c49 !important;
   font-size: 14px;
   line-height: 12px;
   font-weight: bold !important;
   text-transform: uppercase;
}
