.atp_course_progress .validate {
  font-weight: normal !important;
  font-size: 16px;
}
.atp_course_progress .is_red {
  color: red !important;
}
.atp_course_progress .is_green {
  color: green !important;
}
.atp_course_progress .is_primary {
  /* primary */
  color: #05144d !important;
}
.atp_course_progress .validate_img {
  height: 16px;
  width: 16px;
  margin-top: -2px;
  margin-right: 4px;
}
.atp_course_progress {
  text-align: center;
  position: relative;
  height: auto;
  line-height: 30px;
  vertical-align: middle;
}

.display_button {
  display: none !important;
}
@media(min-width:1600px) {
  /* course cards actions */
  #dashboard_tma #tuto_module_1 p {
    margin-bottom: 0;
    margin-top: 0;
  }
  .atp_course_item {
    margin-left: 0;
    margin-right: 0;
  }
  /* all margins */
  #dashboard_course_in_progress_atp .atp_course_item,#dashboard_course_to_do .atp_course_item,#dashboard_course_finished .atp_course_item{
    margin-right: calc((100% - 1508px) / 6);
    margin-left: calc((100% - 1508px) / 6);
  }

  #dashboard_course_in_progress_atp .atp_course_item:nth-child(4n),#dashboard_course_to_do .atp_course_item:nth-child(4n),#dashboard_course_finished .atp_course_item:nth-child(4n){
    margin-left: calc((100% - 1508px) / 6);
    margin-right: 0;
  }
  #dashboard_course_in_progress_atp .atp_course_item:first-child,#dashboard_course_to_do .atp_course_item:first-child,#dashboard_course_finished .atp_course_item:first-child,#dashboard_course_in_progress_atp .atp_course_item:nth-child(4n+1),#dashboard_course_to_do .atp_course_item:nth-child(4n+1),#dashboard_course_finished .atp_course_item:nth-child(4n+1){
    margin-right: calc((100% - 1508px) / 6);
    margin-left: 0;
  }
  .atp_course_item:nth-child(4) {
    display:block;
  }
}
@media screen and (min-width:1196px) and (max-width:1600px) {
  #dashboard_course_in_progress_atp .atp_course_item,#dashboard_course_to_do .atp_course_item,#dashboard_course_finished .atp_course_item{
    margin-right: calc((((100% - 1131px) / 2) / 3) * 2);
    margin-left: calc((((100% - 1131px) / 2) / 3) * 2);
  }
  #dashboard_course_in_progress_atp .atp_course_item:nth-child(3n),#dashboard_course_to_do .atp_course_item:nth-child(3n),#dashboard_course_finished .atp_course_item:nth-child(3n){
    margin-left: calc(((100% - 1131px) / 2) / 3);
    margin-right: 0;
  }
  #dashboard_course_in_progress_atp .atp_course_item:nth-child(3n+1),#dashboard_course_to_do .atp_course_item:nth-child(3n+1),#dashboard_course_finished .atp_course_item:nth-child(3n+1){
    margin-right: calc(((100% - 1131px) / 2) / 3);
    margin-left: 0;
  }
  #dashboard_course_in_progress_atp .atp_course_item:first-child,#dashboard_course_to_do .atp_course_item:first-child,#dashboard_course_finished .atp_course_item:first-child{
    margin-right: calc(((100% - 1131px) / 2) / 3);
    margin-left: 0;
  }
}
/* responsive */
@media(max-width:1196px) {
  /* reinit all margins */
  #dashboard_course_in_progress_atp .atp_course_item,#dashboard_course_to_do .atp_course_item,#dashboard_course_finished .atp_course_item{
    margin-right: 0;
    margin-left: 0;
  }
  #dashboard_course_in_progress_atp .atp_course_item:nth-child(3n),#dashboard_course_to_do .atp_course_item:nth-child(3n),#dashboard_course_finished .atp_course_item:nth-child(3n){
    margin-left: 0;
    margin-right: 0;
  }
  #dashboard_course_in_progress_atp .atp_course_item:nth-child(3n+1),#dashboard_course_to_do .atp_course_item:nth-child(3n+1),#dashboard_course_finished .atp_course_item:nth-child(3n+1){
    margin-right: 0;
    margin-left: 0;
  }
  #dashboard_course_in_progress_atp .atp_course_item:first-child,#dashboard_course_to_do .atp_course_item:first-child,#dashboard_course_finished .atp_course_item:first-child{
    margin-right: 0;
    margin-left: 0;
  }
  /* new margins and actions */
  /*
  #dashboard_course_in_progress_atp .atp_course_item,#dashboard_course_to_do .atp_course_item,#dashboard_course_finished .atp_course_item {
    display: none;
  }
  */
  #dashboard_course_in_progress_atp .atp_course_item:first-child,#dashboard_course_to_do .atp_course_item:first-child,#dashboard_course_finished .atp_course_item:first-child{
    margin-right: calc((100% - 754px) / 2);
    margin-left: 0;
    display:block;
  }
  #dashboard_course_in_progress_atp .atp_course_item:nth-child(2),#dashboard_course_to_do .atp_course_item:nth-child(2),#dashboard_course_finished .atp_course_item:nth-child(2){
    margin-left: calc((100% - 754px) / 2);
    margin-right: 0;
    display:block;
  }
  #dashboard_course_in_progress_atp .atp_course_item:nth-child(2n),#dashboard_course_to_do .atp_course_item:nth-child(2n),#dashboard_course_finished .atp_course_item:nth-child(2n){
    margin-left: calc((100% - 754px) / 2);
    margin-right: 0;
  }
  #dashboard_course_in_progress_atp .atp_course_item:nth-child(2n+1),#dashboard_course_to_do .atp_course_item:nth-child(2n+1),#dashboard_course_finished .atp_course_item:nth-child(2n+1){
    margin-right: calc((100% - 754px) / 2);
    margin-left: 0;
  }
}
@media(max-width:814px) {
  /* reinit all margins */
  #dashboard_course_in_progress_atp .atp_course_item,#dashboard_course_to_do .atp_course_item,#dashboard_course_finished .atp_course_item{
    margin-right: calc((100% - 377px) / 2);
    margin-left: calc((100% - 377px) / 2);
  }
  #dashboard_course_in_progress_atp .atp_course_item:nth-child(3n),#dashboard_course_to_do .atp_course_item:nth-child(3n),#dashboard_course_finished .atp_course_item:nth-child(3n){
    margin-right: calc((100% - 377px) / 2);
    margin-left: calc((100% - 377px) / 2);
  }
  #dashboard_course_in_progress_atp .atp_course_item:nth-child(3n+1),#dashboard_course_to_do .atp_course_item:nth-child(3n+1),#dashboard_course_finished .atp_course_item:nth-child(3n+1){
    margin-right: calc((100% - 377px) / 2);
    margin-left: calc((100% - 377px) / 2);
  }
  /* new margins and actions */
  /*
  #dashboard_course_in_progress_atp .atp_course_item,#dashboard_course_to_do .atp_course_item,#dashboard_course_finished .atp_course_item {
    display: none;
  }
  */
  #dashboard_course_in_progress_atp .atp_course_item:nth-child(2),#dashboard_course_to_do .atp_course_item:nth-child(2),#dashboard_course_finished .atp_course_item:nth-child(2){
    margin-right: calc((100% - 377px) / 2);
    margin-left: calc((100% - 377px) / 2);
  }
  #dashboard_course_in_progress_atp .atp_course_item:nth-child(2n),#dashboard_course_to_do .atp_course_item:nth-child(2n),#dashboard_course_finished .atp_course_item:nth-child(2n){
    margin-left: calc((100% - 377px) / 2);
    margin-right: calc((100% - 377px) / 2);
  }
  #dashboard_course_in_progress_atp .atp_course_item:nth-child(2n+1),#dashboard_course_to_do .atp_course_item:nth-child(2n+1),#dashboard_course_finished .atp_course_item:nth-child(2n+1){
    margin-right: calc((100% - 377px) / 2);
    margin-left: calc((100% - 377px) / 2);
  }
  #dashboard_course_in_progress_atp .atp_course_item:first-child,#dashboard_course_to_do .atp_course_item:first-child,#dashboard_course_finished .atp_course_item:first-child{
    margin-right: calc((100% - 377px) / 2);
    margin-left: calc((100% - 377px) / 2);
    display:block;
  }
}
@media(max-width:377px) {
  .atp_course_item {
    width: 288px;
    float: none;
  }
  .atp_course_duration span, .atp_course_dificulties span {
    font-size: 12px;
  }
  .atp_course_image,.atp_course_image img {
    height: 176.64px;
  }
  #dashboard_tma section a .img_regulatory,#dashboard_tma section a .img_fundamental,#dashboard_tma section a .img_oursolutions,#dashboard_tma section a .img_salesapproach {
    height: 146.69px;
  }
  /* reinit all margins */
  #dashboard_course_in_progress_atp .atp_course_item,#dashboard_course_to_do .atp_course_item,#dashboard_course_finished .atp_course_item{
    margin-right: auto;
    margin-left: auto;
  }
  #dashboard_course_in_progress_atp .atp_course_item:nth-child(3n),#dashboard_course_to_do .atp_course_item:nth-child(3n),#dashboard_course_finished .atp_course_item:nth-child(3n){
    margin-right: auto;
    margin-left: auto;
  }
  #dashboard_course_in_progress_atp .atp_course_item:nth-child(3n+1),#dashboard_course_to_do .atp_course_item:nth-child(3n+1),#dashboard_course_finished .atp_course_item:nth-child(3n+1){
    margin-right: auto;
    margin-left: auto;
  }
  /* new margins and actions */
  #dashboard_course_in_progress_atp .atp_course_item,#dashboard_course_to_do .atp_course_item,#dashboard_course_finished .atp_course_item {
    display: none;
  }
  #dashboard_course_in_progress_atp .atp_course_item:nth-child(2),#dashboard_course_to_do .atp_course_item:nth-child(2),#dashboard_course_finished .atp_course_item:nth-child(2){
    margin-right: auto;
    margin-left: auto;
    display:none;
  }
  #dashboard_course_in_progress_atp .atp_course_item:nth-child(2n),#dashboard_course_to_do .atp_course_item:nth-child(2n),#dashboard_course_finished .atp_course_item:nth-child(2n){
    margin-left: auto;
    margin-right: auto;
  }
  #dashboard_course_in_progress_atp .atp_course_item:nth-child(2n+1),#dashboard_course_to_do .atp_course_item:nth-child(2n+1),#dashboard_course_finished .atp_course_item:nth-child(2n+1){
    margin-right: auto;
    margin-left: auto;
  }
  #dashboard_course_in_progress_atp .atp_course_item:first-child,#dashboard_course_to_do .atp_course_item:first-child,#dashboard_course_finished .atp_course_item:first-child{
    margin-right: auto;
    margin-left: auto;
    display:block;
  }
}
/* Category management */
#cat_fond, #cat_solu, #cat_dem_com, #cat_reg, #cat_dem_sofskil, #cat_dem_exp{
  display: none;
}
.modules-subtext{
  margin-bottom: 10px!important;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 10px;
  padding-bottom: 20px!important;
}
