/* section de base */
#dashboard_tma {
 width: 100%;
 margin-left: auto;
 margin-right: auto;
 height: auto;
}
#dashboard_tma h2 {
 font-size: 28px;
 margin: 0;
 font-family: "mywebfont";
 font-weight: bold;
 text-transform: uppercase;
 width: 100%;
 line-height: 28px;
 margin-bottom: 15px;
}
#dashboard_tma h2 svg {
 height: 50px;
 width: 50px;
 display:block;
 float: left;
 margin-right: 10px;
}
#dashboard_tma h2 span {
 display: inline-block;
 min-height: 28px;
 margin-top: 11px;
 margin-bottom: 11px;
 width: calc(100% - 75px);
 font-family:"mywebfont";
}
#dashboard_tma p {
 font-size: 18px;
 line-height: 22px;
 width: 100%;
 font-family: "mywebfont";
 margin-top: 10px;
 margin-bottom: 10px;
}
@media(max-width:1440px) {
 #dashboard_tma {
  width: 100%;
 }
}
/* toutes les section */
#dashboard_tma section {
 padding: 30px;
 height: auto;
}

/* titre h2 */
#dashboard_tma section h2 {
 width: 100%;
 padding: 0;
 font-family: "mywebfont";
 margin: 0;
 font-weight: bold;
 height: auto;
 margin-top: 25px;
 margin-bottom: 35px;
}

/* lien tous modules */
#dashboard_tma section a {
 display: block;
 text-shadow: none;
 height: auto;
 line-height: 20px;
 font-size: 20px;
 text-align: center;
 margin-top: 35px;
 margin-bottom: 35px;
 font-weight: bold;
 position: relative;
 cursor: pointer;
}
#dashboard_tma section a:hover {
  text-decoration: none;
}
#dashboard_tma section a .img_regulatory,#dashboard_tma section a .img_fundamental,#dashboard_tma section a .img_oursolutions,#dashboard_tma section a .img_salesapproach {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 191px;
  z-index: 2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Aplats couleurs des sections */
#dashboard_tma section a .img_fundamental {
  background-image: url('/static/images/fondamentaux.png');
}
#dashboard_tma section a .img_fundamentals {
  background-image: url('/static/images/fondamentaux.png');
}
#dashboard_tma section a .img_oursolutions {
  background-image: url('/static/images/nos_solutions.png');
}
#dashboard_tma section a .img_salesapproach {
  background-image: url('/static/images/zdemarche_comm.png');
}
#dashboard_tma section a .img_regulatory {
  background-image: url('/static/images/reglementaire.png');
}
/* section header */
#dashboard_header_atp {
 background-size: cover;
 background-repeat: no-repeat;
 border-bottom: 1px solid #c6c6c6;
 background-position: right;
}
#dashboard_tma #dashboard_header_atp {
 min-height: 100px;
 height: auto;
}
#dashboard_header_content {
 width: 40%;
 margin-left: 60%;
 height: auto;
}
#dashboard_header_content p:first-child{
 width: 100%;
 height: auto;
 margin: 0;
 padding: 0;
 font-size: 18px;
 font-weight: bold;
 font-family:"mywebfont";
 margin-top: 20px;
 margin-bottom: 20px;
}
#dashboard_header_content p:last-child{
 width: 100%;
 height: auto;
 margin: 0;
 padding: 0;
 font-family: "mywebfont";
 font-size: 16px;
}
#dashboard_header_content h1 {
 margin: 0;
 padding: 0;
 margin-top: 15px;
 margin-bottom: 15px;
 width: 100%;
 position: relative;
 height: 90px;
}
#dashboard_header_content h1 span {
 left: 0;
 top: 0;
 text-transform:uppercase;
 text-align: left;
 font-weight: bold;
 font-family: "mywebfont";
}
#dashboard_header_content h1 span:first-child {
 display: block;
 width: 100%;
 height: auto;
 font-size: 64px;
 z-index: 2;
 letter-spacing: 0.8px;
}
#dashboard_header_content h1 span:last-child {
 display: block;
 width: 100%;
 height: auto;
 top: 40px;
 z-index: 1;
 font-size: 58px;
 overflow: hidden;
 letter-spacing: 0.8px;
}
#dashboard_header_content button,#dashboard_header_content button:hover,#dashboard_header_content button:focus {
 padding: 0;
 margin: 0;
 background-image: none;
 box-shadow: none;
 border-radius: 0;
 border: none;
 font-weight: bold;
 font-size: 16px;
 font-family: "mywebfont";
 text-transform: inherit;
 border-style: none;
 text-shadow: none;
 outline : none;
 background-color: transparent;
}
#img_dashboard_tuto_cartes {
  width: 100%;
}
@media(max-width:768px) {
 #dashboard_header_content {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
 }
}
/* section tuto */
#dashboard_tuto_atp {
 display: none;
 height: auto;
 width: 100%;
 border-bottom: 2px solid black;
}
.dashboard_tuto_atp {
 height: auto;
 background-color: transparent;
 width: 1180px;
 margin-left: auto;
 margin-right: auto;
 padding-top: 25px;
 padding-bottom: 25px;
 border-bottom: 1px solid black;
}
.dashboard_tuto_atp:last-child {
 border-bottom: none;
 text-align: center;
}

.dashboard_tuto_atp:first-child {
 padding-top: 50px;
 padding-bottom: 50px;
}
.dashboard_tuto_atp:first-child p {
 text-align: center;
 font-family: "mywebfont";
 font-weight: bold;
 font-size: 22px;
 line-height: 22px;
 height: auto;
 margin-top: 5px;
 width: 100%;
 margin-bottom: 5px;
}
.dashboard_tuto_atp h3{
 text-align: center;
 text-transform: uppercase;
 font-size: 20px;
 font-family:"mywebfont";
 line-height: 20px;
 height: auto;
 width: 100%;
 font-weight: bold;
}
.dashboard_tuto_atp p{
 text-align: center;
 font-size: 14px;
 line-height: 14px;
 height: auto;
 margin-top: 4px;
 margin-bottom: 4px;
 width: 100%;
}
.dashboard_tuto_atp ul {
 margin: 0;
 padding: 0;
 width: auto;
 max-width: 100%;
 display: table;
 height: auto;
 text-align:center;
 margin-left: auto;
 margin-right: auto;
 list-style-type: none;
}
.dashboard_tuto_atp ul li {
 height: auto;
 float:left;
 min-width: 420px;
 margin: 15px;
 margin-left: 0;
 padding-left: 15px;
 border-left-width: 5px;
 border-left-style: solid;
}
#dashboard_tuto_atp_1 {
 border-left-color: #874992;
}
#dashboard_tuto_atp_2 {
 border-left-color: #d39f3a;
}
#dashboard_tuto_atp_3 {
 border-left-color: #1d718b;
}
#dashboard_tuto_atp_4 {
 border-left-color: #c05c4c;
}
.dashboard_tuto_atp ul li h4 {
 width: 100%;
 font-family: "mywebfont";
 text-transform: uppercase;
 font-size: 20px;
 font-weight: bold;
 text-align: left;
}
#dashboard_tma .dashboard_tuto_atp ul li p {
 text-align: left;
 font-family: "mywebfont";
 margin-top: 0;
 margin-bottom: 0;
}
#dashboard_tuto_atp button,#dashboard_tuto_atp button:hover,#dashboard_tuto_atp button:focus {
 padding: 0;
 margin: 0;
 outline : none;
 text-transform: inherit;
 background-image: none;
 box-shadow: none;
 border-radius: 0;
 border: none;
 font-weight: bold;
 font-size: 14px;
 border-style: none;
 background-color: transparent;
 text-shadow: none;
}
.progress_bar_status_up {
  background-color: #c8c8c8;
}
@media(max-width: 1240px) {
 .dashboard_tuto_atp {
  width: 100%;
 }
}
@media(max-width: 530px) {
 .dashboard_tuto_atp ul li {
  min-width: 0;
 }
}
/* section module en cours  */
#dashboard_course_in_progress_atp {

}

/* section module a realiser */
#dashboard_course_to_do {

}

/* section module termine */
#dashboard_course_finished {

}

#dashboard_tma section .first_p {
 font-weight: bold;
}

/* course_cards css */
.atp_course_listing {
 width: 100%;
 height: auto;
 padding: 0;
 margin: 0;
 list-style-type: none;
}
.atp_course_item {
 width: 375px;
 margin-left: 2.24vw;
 margin-right: 2.24vw;
 border: 1px solid #c6c6c6;
 height: auto;
 float: left;
 margin-top: 10px;
 margin-bottom: 10px;
}
.atp_hide_cards {
 display:none;
}
.atp_course_image {
 width: 100%;
 height: 230px;
 position: relative;
}
.atp_course_image img{
 width: 100%;
 height: 230px;
}

.atp_course_info {
 width: 70%;
 margin-left: auto;
 margin-right: auto;
 min-height: 50px;
 height: auto;
}

.atp_course_title {
 width: 80%;
 margin-left: auto;
 margin-right: auto;
 line-height: 20px;
 height: auto;
 text-align: center;
 text-transform: uppercase;
 font-size: 20px;
 font-weight: bold;
 font-family: "mywebfont";
 word-wrap: break-word;
}
.atp_course_picto {
 width: 100%;
 min-height: 53px;
 height: auto;
 margin-top: 5px;
 text-align: center;
}
.atp_course_picto svg {
 margin-left: 5px;
 margin-right: 5px;
 height: 30px;
 width: 30px;
 margin-top: 20px;
 fill: #c6c6c6;
}
.atp_course_link {
 width: 100%;
 height: 70px;
}
#dashboard_tma section .atp_course_listing .atp_course_link a,#dashboard_tma section .atp_course_listing .atp_course_link a:hover,#dashboard_tma section .atp_course_listing .atp_course_link a:focus,#atp_about_course_card .atp_course_link a,#atp_about_course_card .atp_course_link a:hover,#atp_about_course_card .atp_course_link a:focus {
 display: block;
 width: 70%;
 height: auto;
 margin-left: auto;
 margin-right: auto;
 margin-top: 15px;
 margin-bottom: auto;
 text-decoration: none;
 color: #fff;
 border-radius: 30px;
 font-weight: bold;
 line-height: 60px;
 vertical-align: middle;
 text-align: center;
 font-size: 20px;
}
#dashboard_course_to_do {
 background-color: #F9F9F9;
}
#dashboard_tma .atp_course_image a,#dashboard_tma .atp_course_image a:hover,#dashboard_tma .atp_course_image a:focus {
 margin-top: 0;
 margin-bottom: 0;
}
* {
 font-family: "mywebfont";
}
#dashboard_tma section .atp_dashboard_active_course {
 margin-left: auto;
 margin-right: auto;
}

/* picto en savoir plus */

#dashboard_tma #dashboard_tuto_atp .dashboard_picto_tuto_tma {
 width: 100%;
 height: auto;
 margin-top: 80px;
 margin-bottom: 10px;
}

#dashboard_tma #dashboard_tuto_atp .dashboard_picto_tuto_tma div {
 width: calc(( 100% / 6 ) - 40px);
 height: auto;
 margin-left: 15px;
 margin-right: 15px;
 float:left;
}

@media(max-width:1200px) {
 #dashboard_tma #dashboard_tuto_atp .dashboard_picto_tuto_tma div {
  width: calc(( 100% / 3 ) - 40px);
  height: auto;
  margin: 15px;
  float:left;
 }
}

@media(max-width:768px) {
 #dashboard_tma #dashboard_tuto_atp .dashboard_picto_tuto_tma div {
  width: calc(( 100% / 2 ) - 30px);
  height: auto;
  margin-left: 15px;
  margin-right: 15px;
  float:left;
 }
}

@media(max-width:430px) {
 #dashboard_tma #dashboard_tuto_atp .dashboard_picto_tuto_tma div {
  width: calc(100% - 30px);
  height: auto;
  margin-left: 15px;
  margin-right: 15px;
  float:left;
 }
}

#dashboard_tma #dashboard_tuto_atp .dashboard_picto_tuto_tma div svg {
 display: block;
 height: 60px;
 margin-left: auto;
 margin-right: auto;
}

#dashboard_tma #dashboard_tuto_atp .dashboard_picto_tuto_tma div span {
 display:block;
 text-transform: uppercase;
 width: 100%;
 font-family: "mywebfont";
 font-size: 20px;
 line-height: 20px;
 font-weight: bold;
 height: auto;
 padding-top: 15px;
 padding-bottom: 15px;
 text-align: center;
}

#dashboard_tma #dashboard_tuto_atp .last_tuto_atp {
 width: 100%;
}

#dashboard_tma #dashboard_tuto_atp .last_tuto_atp p {
 margin-top: 8px;
 margin-bottom: 8px;
}


/* ARROW LEFT */

.arrow-bottom {
    margin-left: 5px;
    width: 0px;
    height: 0px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 11px solid black;
    display: inline-block;
    margin-top: 7px;
}

.arrow-top {
    margin-left: 5px;
    width: 0px;
    height: 0px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 11px solid black;
    display: inline-block;
    margin-top: 7px;
}

.arrow-right {
    margin-left: 5px;
    width: 0px;
    height: 0px;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 11px solid black;
    display: inline-block;
    margin-top: 5px;
}

/* picto course_cards */

.atp_course_duration,.atp_course_dificulties {
 min-height: 40px;
 width: 50%;
 height: auto;
 float: left;
 text-align:center;
 float: left;
}
.atp_course_duration {
  float:left;
}
.atp_course_dificulties {
  float: right;
}
.atp_course_duration svg,.atp_course_dificulties svg {
 fill: rgb(220,158,41);
 height: 20px;
 width: 20px;
 margin-top: 10px;
 margin-bottom: 10px;
 display: block;
 float: left;
 margin-left: 5px;
}
.atp_course_duration svg {
  margin-left: 0;
}
.atp_course_dificulties svg {
  float: right;
}
.atp_course_duration span,.atp_course_dificulties span {
 color: rgb(220,158,41);
 font-size: 16px;
 line-height: 12px;
 margin-top: 14px;
 margin-bottom: 14px;
 margin-left: 5px;
 font-family: "mywebfont";
 font-weight: bold;
 display: block;
 float: left;
}
.atp_course_dificulties span {
  float:right;
}
@media(max-width:640px) {
 #dashboard_header_content h1 span:first-child {
  font-size:45px;
  line-height:43px;
 }
 #dashboard_header_content h1 span:last-child {
  font-size: 40px;
  line-height: 38px;
  top: 39px;
  clip: rect(13px auto auto auto);
 }
 #dashboard_tma h2 span {
  margin-top: 0px;
  margin-bottom: 0px;
 }
 #dashboard_tma section {
  width:calc(100% - 30px);
  padding: 15px;
 }
}

/* category */

.cateogry_text {
  position: absolute;
  z-index: 3;
  right: 5px;
  bottom: 5px;
  font-family: "mywebfont";
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
.progress_bar_status {
  height: 5px;
}

/* progress bar */
.progress_bar_status_up {
  width: 100%;
  height: 5px;
  background-color: #c8c8c8;
}

#dashboard_header_content h1 span:last-child, #dashboard_header_content h1 span:first-child{
font-size:50px !important;
}

#dashboard_tuto_atp_1,#sub_menu #cat_fond{
 border-left-color: rgb(69,114,150) !important;
}

#dashboard_tuto_atp_2,#sub_menu #cat_dem_com {
 border-left-color: rgb(230,50,94) !important;
}

#dashboard_tuto_atp_3,#sub_menu #cat_solu {
 border-left-color: rgb(193,145,53) !important;
}

#dashboard_tuto_atp_3,#sub_menu #cat_dem_exp {
 border-left-color: rgb(69,114,150) !important;
}

#dashboard_tuto_atp_3,#sub_menu #cat_dem_sofskil {
 border-left-color: rgb(230,50,94) !important;
}

#dashboard_tuto_atp_4,#sub_menu #cat_reg {
 border-left-color: rgb(57,178,192) !important;
}
/* Responsive mobile header */
.header-mobile{
  display: none;
}
#dashboard_header_content{
  margin-top:25px!important;
}
@media(max-width:830px) {
  .header-mobile{
    display: block;
    height: 300px;
  }
  #dashboard_tma #dashboard_header_atp{
    padding: 0;
  }
  #dashboard_header_content{
    padding: 20px;
    margin: 0;
    margin-left: 10%!important;
    margin-right: 10%;
    width: 80%!important;
  }
  #dashboard_tma #dashboard_header_atp{
    background-image: none;
  }
  #dashboard_tma #dashboard_header_atp{
    display: block!important;
  }
}

/* Fix header taille texte */
#intro-phrase-header{
  font-size: 24px!important;
  margin-top: 25px!important;
  margin-bottom: 25px!important;
}
span.bouton-more{
  font-size:18px!important;
}

/* pop up */
#pop_up {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000000000000000000;
  width: 500px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #c6c6c6;
}
#pop_up p {
  color: #05144d;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "mywebfont";
}
.is_hidden_tma {
  display: none;
}
#close_pop_up,#close_pop_up:hover,#close_pop_up:focus,#close_pop_up:visited {
  display: block;
  width: 200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: auto;
  text-decoration: none;
  color: #fff;
  text-shadow: none;
  border-radius: 30px;
  font-weight: bold;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
  font-family: "mywebfont";
}
@media(max-width:550px) {
  #pop_up {
    width: 300px;
  }
}

#logo-amundiacademy {
  width: 100%;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
#logo-amundiacademy img {
  width: 100%;
  height: auto;
}
#ariane_dashboard {
  width: calc(100% - 60px);
  height: auto;
  padding-bottom: 0 !important;
  margin: 0;
  text-align: left !important;
  padding-top: 15px !important;
}
#ariane_dashboard a,#ariane_dashboard a:hover,#ariane_dashboard a:focus,#ariane_dashboard a:visited {
  text-decoration: none;
  text-align: left !important;
  display: inline !important;
  font-weight: 400 !important;
  font-size: 16px !important;
}

.bouton-more{
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
.bouton-more span{
  font-size: 14px;
}

#dashboard_header_content button:hover, #dashboard_header_content button{
  border: none;
  text-shadow: none;
  border-radius: 25px;
  text-transform: uppercase;
  transition: all .1s linear;
  box-shadow: 0 0 10px rgba(13,28,76,.1);
  font-weight: 600;
  padding: 3px 30px;
  min-width: 130px;
  color:white;
  font-size:15px;
}
div.atp_course_picto svg path, div.atp_course_picto svg polygon{
  fill:#C5C5C5!important;
  mask:none;
}
#dashboard_tuto_atp svg path, #dashboard_tuto_atp svg polygon{
  mask:none;
}

@media(max-width:1022px) {
 #profile_menu {
  margin-right: 0 !important;
 }
 #right-menu {
  position: fixed !important;
  width: 100%;
  left: 0;
  top: 70px;
 }
}

#dashboard_tma section a .img_fundamentals {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 191px;
  z-index: 2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img_fundamentals {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 191px;
    z-index: 2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}
#pop_up p {
  text-align: justify !important;
}
#dashboard_header_content p:first-child {
  margin-bottom: 3px;
  font-size: 38px;
  line-height: 38px;
  margin-top:0;
}
#logo-amundiacademy {
  margin-top: 10px;
}
.center-text{
  text-align: center;
}
#dashboard_tma #dashboard_header_atp{
  min-height: 256px!important;
  box-sizing: border-box!important;
  width: 100%!important;
  background-color: #C6EAFB;
  background-position: center;
  background-size: contain;

}
#dashboard_tuto_atp_1, #dashboard_tuto_atp_2,#dashboard_tuto_atp_3,#dashboard_tuto_atp_4{
  margin: 0!important;
  width: 50%!important;
  float: left!important;
  box-sizing: border-box!important;
  margin-bottom: 10px!important;
}

.is_none_more {
  display: none !important;
}
