@font-face{font-family:'mywebfont';src:url("../fonts/arial.otf") format("otf"),url("../fonts/arial.ttf") format("truetype")}html,body,span,h1,h2,h3,h4,h5,h6,div,a,button,input,p,section{font-family:"mywebfont"}
.content-wrapper{background-color:transparent}
body{min-height:100vh}
input[type="submit"]:not(:disabled),input[type="button"]:not(:disabled),button:not(:disabled),.button:not(:disabled){background:#05144d;background-image:none;box-shadow:none}
input[type="submit"]:hover:not(:disabled),input[type="button"]:hover:not(:disabled),button:hover:not(:disabled),.button:hover:not(:disabled),button:focus:not(:disabled){background:#31aeee;background-image:none;box-shadow:none}
.login-register .action-primary,.financial-assistance-wrapper .financial-assistance-form .action-primary{box-shadow:none}
button:hover:not(:disabled){background:#fff;border-color:#31aeee;color:#31aeee}
button:not(:disabled){background:#fff;border-color:#05144d;color:#05144d}
.login-register .form-field .field-link,.financial-assistance-wrapper .financial-assistance-form .form-field .field-link{color:#05144d}
.btn-blue:hover,.dashboard-banner .wrapper-msg .msg.has-actions .donate-actions .action-donate:hover,.login-register .action-primary:hover,.financial-assistance-wrapper .financial-assistance-form .action-primary:hover,.verification-process .action-primary-blue:hover,.verification-process .carousel .wrapper-task .controls .control .action:hover,.verification-process .carousel .wrapper-task .msg .list-actions .action-retakephotos a:hover,.verification-process .carousel #wrapper-review .review-task-name .list-actions .action-editname a:hover,.verification-process.step-select-track .register-choice-audit .action-select input:hover,.verification-process.step-confirmation .course-info .options .action-course:hover,.verification-process.step-confirmation .course-info .course-actions .action-dashboard:hover,.reverify-blocked .action-primary:hover,.wrapper-authorize .btn-authorization-allow:hover,.wrapper-msg.wrapper-auto-cert .auto-cert-message .has-actions .msg-actions .btn:hover,.btn-blue:active,.dashboard-banner .wrapper-msg .msg.has-actions .donate-actions .action-donate:active,.login-register .action-primary:active,.financial-assistance-wrapper .financial-assistance-form .action-primary:active,.verification-process .action-primary-blue:active,.verification-process .carousel .wrapper-task .controls .control .action:active,.verification-process .carousel .wrapper-task .msg .list-actions .action-retakephotos a:active,.verification-process .carousel #wrapper-review .review-task-name .list-actions .action-editname a:active,.verification-process.step-select-track .register-choice-audit .action-select input:active,.verification-process.step-confirmation .course-info .options .action-course:active,.verification-process.step-confirmation .course-info .course-actions .action-dashboard:active,.reverify-blocked .action-primary:active,.wrapper-authorize .btn-authorization-allow:active,.wrapper-msg.wrapper-auto-cert .auto-cert-message .has-actions .msg-actions .btn:active,.btn-blue:focus,.dashboard-banner .wrapper-msg .msg.has-actions .donate-actions .action-donate:focus,.login-register .action-primary:focus,.financial-assistance-wrapper .financial-assistance-form .action-primary:focus,.verification-process .action-primary-blue:focus,.verification-process .carousel .wrapper-task .controls .control .action:focus,.verification-process .carousel .wrapper-task .msg .list-actions .action-retakephotos a:focus,.verification-process .carousel #wrapper-review .review-task-name .list-actions .action-editname a:focus,.verification-process.step-select-track .register-choice-audit .action-select input:focus,.verification-process.step-confirmation .course-info .options .action-course:focus,.verification-process.step-confirmation .course-info .course-actions .action-dashboard:focus,.reverify-blocked .action-primary:focus,.wrapper-authorize .btn-authorization-allow:focus,.wrapper-msg.wrapper-auto-cert .auto-cert-message .has-actions .msg-actions .btn:focus{background:#05144d;box-shadow:none}
.help-buttons button:hover,.login aside .btn-login .btn-login-action:hover,.register aside .btn-login .btn-login-action:hover,.passwordreset aside .btn-login .btn-login-action:hover,#forgot-password-modal #password-reset aside .btn-login .btn-login-action:hover,.login-register .login-provider:hover,.financial-assistance-wrapper .financial-assistance-form .login-provider:hover,.login .form-actions.form-third-party-auth button[type="submit"]:hover,.register .form-actions.form-third-party-auth button[type="submit"]:hover,.passwordreset .form-actions.form-third-party-auth button[type="submit"]:hover,#forgot-password-modal #password-reset .form-actions.form-third-party-auth button[type="submit"]:hover,.login-register .nav-btn:hover,.financial-assistance-wrapper .financial-assistance-form .nav-btn:hover,.login-register .button-secondary-login:hover,.financial-assistance-wrapper .financial-assistance-form .button-secondary-login:hover,.wrapper-authorize .btn-authorization-cancel:hover,.help-buttons button:active,.login aside .btn-login .btn-login-action:active,.register aside .btn-login .btn-login-action:active,.passwordreset aside .btn-login .btn-login-action:active,#forgot-password-modal #password-reset aside .btn-login .btn-login-action:active,.login-register .login-provider:active,.financial-assistance-wrapper .financial-assistance-form .login-provider:active,.login .form-actions.form-third-party-auth button[type="submit"]:active,.register .form-actions.form-third-party-auth button[type="submit"]:active,.passwordreset .form-actions.form-third-party-auth button[type="submit"]:active,#forgot-password-modal #password-reset .form-actions.form-third-party-auth button[type="submit"]:active,.login-register .nav-btn:active,.financial-assistance-wrapper .financial-assistance-form .nav-btn:active,.login-register .button-secondary-login:active,.financial-assistance-wrapper .financial-assistance-form .button-secondary-login:active,.wrapper-authorize .btn-authorization-cancel:active,.help-buttons button:focus,.login aside .btn-login .btn-login-action:focus,.register aside .btn-login .btn-login-action:focus,.passwordreset aside .btn-login .btn-login-action:focus,#forgot-password-modal #password-reset aside .btn-login .btn-login-action:focus,.login-register .login-provider:focus,.financial-assistance-wrapper .financial-assistance-form .login-provider:focus,.login .form-actions.form-third-party-auth button[type="submit"]:focus,.register .form-actions.form-third-party-auth button[type="submit"]:focus,.passwordreset .form-actions.form-third-party-auth button[type="submit"]:focus,#forgot-password-modal #password-reset .form-actions.form-third-party-auth button[type="submit"]:focus,.login-register .nav-btn:focus,.financial-assistance-wrapper .financial-assistance-form .nav-btn:focus,.login-register .button-secondary-login:focus,.financial-assistance-wrapper .financial-assistance-form .button-secondary-login:focus,.wrapper-authorize .btn-authorization-cancel:focus{box-shadow:none;background-image:none}
#login-and-registration-container{width:1440px;max-width:100%;min-width:0%;min-height:calc(100vh - 148px)}
@media (max-width:1440px){
  #login-and-registration-container{width:100%}
}

body{background-color:#fff}
#footer_atp{padding:5px;margin-left:auto;margin-right:auto;vertical-align:middle;background-color:#05144d}


#footer_atp img{height:80px;width:auto;margin-top:30px;margin-bottom:30px;float:left}
#footer_atp ul li{height:20px;line-height:20px;vertical-align:middle;text-align:center;margin-top:30px;margin-bottom:30px}

@media (max-width: 560px){
  #footer_atp ul,#footer_atp img{float:none;margin-left:0;margin-right:0}
  #footer_atp ul{margin-bottom:0;padding:0;margin-top:5px}
  #footer_atp ul li{margin-top:5px;margin-bottom:5px;margin-left:0}
  #footer_atp img{margin-bottom:0}
}

.modal-close {
  text-align: center;
  height: auto;
  min-height: 80px;
  line-height: 80px;
  vertical-align: middle;
}
.btn,.btn:hover,.btn:focus,.btn:visited {
  background-color: #dc9f0d;
  border: none;
  padding: 10px 30px;
  width: 150px;
  font-weight: 600;
  color: #fff;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  cursor:pointer;
}
.pop_up_atp p{
  text-align: justify;
  text-justify: inter-word;
  color: #000;
  font-size: 12px;
  line-height: 12px;
}
.pop_up_atp {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    z-index: 10000000000000;
    padding: 10px 60px 30px;
}

/* footer */
#footer_atp ul{
  margin: 0;
  text-align: center;
}
#footer_atp ul li{
  list-style-type: none;
  display: inline;
}
#footer_atp ul li a, #footer_atp ul li{
  font-size: 12px;
  font-weight: 400;
  color: white;
  text-transform: capitalize;
}
