{% extends 'ace_common/edx_ace/common/base_body.html' %}

{% load i18n %}
{% load static %}
{% block content %}
<table width="100%" align="left" border="0" cellpadding="0" cellspacing="0" role="presentation">
    <tr>
        <td>
            <h1>
                {% filter force_escape %}
                {% blocktrans %}Você foi convidado para {{ course_name }}{% endblocktrans %}
                {% endfilter %}
            </h1>

            <p style="color: rgba(0,0,0,.75);">
                {% filter force_escape %}
                {% blocktrans %}Você foi convidado a se unir a {{ course_name }} em {{ site_name }} por um membro da equipe do curso.{% endblocktrans %}
                {% endfilter %}
                <br />
            </p>

        {% if is_shib_course %}
            {% if auto_enroll %}
                <p style="color: rgba(0,0,0,.75);">
                    {% filter force_escape %}
                    {% blocktrans %}Para acessar este curso, clique no botão abaixo e faça o login:{% endblocktrans %}
                    {% endfilter %}
                    <br />
                </p>

                {% include "ace_common/edx_ace/common/return_to_course_cta.html" with course_cta_text=course_name course_cta_url=course_url %}
            {% elif course_about_url is not None %}
                <p style="color: rgba(0,0,0,.75);">
                    {% filter force_escape %}
                    {% blocktrans %}Para acessar este curso, visite-o e registre-se:{% endblocktrans %}
                    {% endfilter %}
                    <br />
                </p>

                {% include "ace_common/edx_ace/common/return_to_course_cta.html" with course_cta_text=course_name course_cta_url=course_about_url %}
            {% endif %}
        {% else %}
            <p style="color: rgba(0,0,0,.75);">
                {% filter force_escape %}
                {% blocktrans %}Por favor, termine o seu cadastro e preencha o formulário de inscrição, certificando-se de usar {{ email_address }} no campo de e-mail:{% endblocktrans %}
                {% endfilter %}
                <br />
            </p>
            {# xss-lint: disable=django-trans-missing-escape #}
            {% include "ace_common/edx_ace/common/return_to_course_cta.html" with course_cta_text="Conclua seu registro" course_cta_url=registration_url %}

            <p style="color: rgba(0,0,0,.75);">
                {% if auto_enroll %}
                    {% filter force_escape %}
                    {% blocktrans %}Depois de ter registrado e ativado sua conta, você verá {{ course_name }} listado em seu painel de instrumentos.{% endblocktrans %}
                    {% endfilter %}
                {% elif course_about_url is not None %}
                    {% filter force_escape %}
                    {% blocktrans %}Depois de registrar e ativar sua conta, você poderá acessar este curso:{% endblocktrans %}
                    {% endfilter %}
                    {% include "ace_common/edx_ace/common/return_to_course_cta.html" with course_cta_text=course_name course_cta_url=course_about_url %}
                {% else %}
                    {% filter force_escape %}
                    {% blocktrans %}Você pode então se matricular-se em {{ course_name }}.{% endblocktrans %}
                    {% endfilter %}
                {% endif %}
                <br />
            </p>
        {% endif %}
            <p style="color: rgba(0,0,0,.75);">
                {% filter force_escape %}
                {% blocktrans %}Este email foi enviado automaticamente de {{ site_name }} para {{ email_address }}{% endblocktrans %}
                {% endfilter %}
                <br />
            </p>
        </td>
    </tr>
</table>
{% endblock %}
