{% extends 'ace_common/edx_ace/common/base_body.html' %}

{% load i18n %}
{% load static %}
{% block content %}
<table width="100%" align="left" border="0" cellpadding="0" cellspacing="0" role="presentation">
    <tr>
        <td>
            <h1>
                {% filter force_escape %}
                {% blocktrans %}Você foi convidado para {{ course_name }}{% endblocktrans %}
                {% endfilter %}
            </h1>

            <p style="color: rgba(0,0,0,.75);">
                {% filter force_escape %}
                {% blocktrans %}Você foi convidado para participar {{ course_name }} no {{ site_name }} por um membro da equipe do curso.{% endblocktrans %}
                {% endfilter %}
                <br />
            </p>

        {% if is_shib_course %}
            {% if auto_enroll %}
                <p style="color: rgba(0,0,0,.75);">
                    {% filter force_escape %}
                    {% blocktrans %}Para acessar este curso clique no botão abaixo e faça login:{% endblocktrans %}
                    {% endfilter %}
                    <br />
                </p>

                {% include "ace_common/edx_ace/common/return_to_course_cta.html" with course_cta_text=course_name course_cta_url=course_url %}
            {% elif course_about_url is not None %}
                <p style="color: rgba(0,0,0,.75);">
                    {% filter force_escape %}
                    {% blocktrans %}Para acessar este curso acesse-o e inscreva-se:{% endblocktrans %}
                    {% endfilter %}
                    <br />
                </p>

                {% include "ace_common/edx_ace/common/return_to_course_cta.html" with course_cta_text=course_name course_cta_url=course_about_url %}
            {% endif %}
        {% else %}
            <p style="color: rgba(0,0,0,.75);">
                {% filter force_escape %}
                {% blocktrans %}Por favor, finalize seu cadastro e preencha o formulário de cadastro certificando-se de usar {{ email_address }} no campo Email:{% endblocktrans %}
                {% endfilter %}
                <br />
            </p>
            {# xss-lint: disable=django-trans-missing-escape #}
            {% trans "Conclua seu registro" as button_cta_text %}
            {% include "ace_common/edx_ace/common/return_to_course_cta.html" with course_cta_text=button_cta_text course_cta_url=registration_url %}

            <p style="color: rgba(0,0,0,.75);">
                {% if auto_enroll %}
                    {% filter force_escape %}
                    {% blocktrans %}Depois de registrar e ativar sua conta, você verá {{ course_name }} listado em seu painel.{% endblocktrans %}
                    {% endfilter %}
                {% elif course_about_url is not None %}
                    {% filter force_escape %}
                    {% blocktrans %}Depois de registrar e ativar sua conta, você poderá acessar este curso:{% endblocktrans %}
                    {% endfilter %}
                    {% include "ace_common/edx_ace/common/return_to_course_cta.html" with course_cta_text=course_name course_cta_url=course_about_url %}
                {% else %}
                    {% filter force_escape %}
                    {% blocktrans %}Você pode então se inscrever em {{ course_name }}.{% endblocktrans %}
                    {% endfilter %}
                {% endif %}
                <br />
            </p>
        {% endif %}
        </td>
    </tr>
</table>
{% endblock %}
