{% extends 'ace_common/edx_ace/common/base_body.html' %}

{% load i18n %}
{% load static %}
{% block content %}
<table width="100%" align="left" border="0" cellpadding="0" cellspacing="0" role="presentation">
    <tr>
        <td>
            <h1>
                {% filter force_escape %}
                    Olá!
                {% endfilter %}
            </h1>

            <p style="color: rgba(0,0,0,.75);">
                {% filter force_escape %}
                Você foi inscrito/a no curso {{ course_name }} na plataforma {{ site_name }} pela equipe pedagógica da Aliança Francesa Online (AF Online). 
                {% endfilter %}
                <br />
                {% filter force_escape %}                
                O seu curso deve aparecer na página inicial "Meus cursos" no site cursos.aliancafrancesaonline.com.br ou clicando aqui:
                {% endfilter %}
            </p>

            {% filter force_escape %}                
                {% blocktrans asvar course_cta_text %}Ir para o meu curso{% endblocktrans %}
            {% endfilter %}
            {% include "ace_common/edx_ace/common/return_to_course_cta.html" with course_cta_text=course_cta_text course_cta_url=course_url %}


        </td>
    </tr>
</table>
{% endblock %}
