<%page expression_filter="h" args="static, url_image"/>


<section id="dashboard_header_atp" class="third-color-border">
  <img src="${static.url(url_image)}" alt="" class="header-mobile">
  <div id="dashboard_header_content">
    <p class="primary-color-text">Vítejte na vaší vzdělávací platformě</p>
    <!--
    <div id="logo-amundiacademy">
      <img src="${static.url('images/logo-amundiacademy.png')}" />
    </div>
    -->
    <p id="intro-phrase-header" class="primary-color-text">Podívejte se na vaše vzdělávací kurzy</p>
    <span class="tuto_action bouton-more primary-color-text primary-color-text" onclick="followClickEvents(this,'more','navigation')">Více <span>▶</span></span>
  </div>
</section>
      <!-- tuto  -->
<section id="dashboard_tuto_atp" class="primary-color-border">
  <!-- module 1 -->
  <div class="dashboard_tuto_atp primary-color-border" id="tuto_module_1">
    <p class="primary-color-text">Vzdělávací kurz vyberte prosím kliknutím na příslušný panel níže.</p>
    <p style="margin-top: 0;margin-bottom: 0;" class="primary-color-text">Každý kurz je zařazen do určité kategorie a může obsahovat rozdílné formáty.</p>
  </div>
  <!-- module 2 -->
              <div class="dashboard_tuto_atp primary-color-border">
    <h3 class="primary-color-text">VZDĚLÁVACÍ KURZY</h3>
    <p class="modules-subtext primary-color-text">Na panelech níže najdete všechny potřebné informace: název kurzu, kategorie, čas potřebný k dokončení, je-li daný kurz povinný a jeho formát.</p>
    <img src="${static.url('images/cartes.png')}" id="img_dashboard_tuto_cartes"/>
              </div>
  <!-- module 3 -->
              <div class="dashboard_tuto_atp primary-color-border">
    <h3 class="primary-color-text">KATEGORIE VZDĚLÁVACÍCH KURZŮ</h3>
    <p class="primary-color-text">Vaše vzdělávací kurzy jsou rozděleny do 4 kategorií:</p>
    <ul>
      <li id="dashboard_tuto_atp_1">
        <h4 class="primary-color-text">OBECNÉ ZÁKLADY:</h4>
        <p class="primary-color-text">Zaměření na finanční trhy, ekonomiku a investice</p>
      </li>
      <li id="dashboard_tuto_atp_3">
        <h4 class="primary-color-text">ZÁKLADNÍ ŘEŠENÍ:</h4>
        <p class="primary-color-text">Zaměření na konkrétní produkty a nabídku</p>
      </li>
      <span style="clear:left; display: block;width:100%;height:0;padding:0;margin:0;"></span>
      <li id="dashboard_tuto_atp_2" style="border-left-color: #00B6ED !important" >
        <h4 class="primary-color-text">PRODEJNÍ DOVEDNOSTI:</h4>
        <p class="primary-color-text">Zaměření na podporu klientů a prodejní techniky</p>
      </li>
      <li id="dashboard_tuto_atp_4" style="border-left-color: #004f9f !important">
        <h4 class="primary-color-text">DOPLŇKOVÁ ŘEŠENÍ:</h4>
        <p class="primary-color-text">Produkty vhodné jako doplněk portfolia</p>
      </li>
      <span style="clear:left; display: block;width:100%;height:0;padding:0;margin:0;"></span>
    </ul>
              </div>
  <!-- module 4 -->
              <div class="dashboard_tuto_atp last_tuto_atp primary-color-border" style="border-bottom: none;">
    <h3 class="primary-color-text">FORMÁTY VZDĚLÁVACÍCH KURZŮ</h3>
    <p class="modules-subtext primary-color-text">Každý vzdělávací kurz se skládá z jednoho nebo více digitálních formátů. V rámci kurzu mohou být kombinovány následující formáty: video, kvíz, videohra, investiční hra, prodejní dokumentace, infografika atd.</p>
    <div class="dashboard_picto_tuto_tma">
      <div><img src="${static.url('images/video.svg')}" class="svg primary-color-fill"/><span class="primary-color-text">VIDEO</span></div>
      <div><img src="${static.url('images/quiz.svg')}" class="svg primary-color-fill"/><span class="primary-color-text">KVÍZ</span></div>
      <div><img src="${static.url('images/seriousgame.svg')}" class="svg primary-color-fill"/><span class="primary-color-text">VIDEOHRA</span></div>
      <div><img src="${static.url('images/simulation_inv.svg')}" class="svg primary-color-fill"/><span class="primary-color-text">INVESTIČNÍ HRA</span></div>
      <div><img src="${static.url('images/pdf.svg')}" class="svg primary-color-fill"/><span class="primary-color-text">DOKUMENTACE</span></div>
      <div><img src="${static.url('images/testes&images.svg')}" class="svg primary-color-fill"/><span class="primary-color-text">INFOGRAFIKA</span></div>
      <span style="display:block;clear:left;"></span>
    </div>
              </div>
  <!-- button close -->
              <div class="dashboard_tuto_atp primary-color-border">
    <button class="tuto_action primary-color-text"><span>Zavřít</span> <span class="arrow-top arrow_primary"></span></button>
              </div>
</section>
