<%page expression_filter="h" args="static, url_image"/>


<section id="dashboard_header_atp" class="third-color-border">
  <img src="${static.url(url_image)}" alt="" class="header-mobile">
  <div id="dashboard_header_content">
    <p class="primary-color-text">Welcome to your training platform</p>
    <!--
    <div id="logo-amundiacademy">
      <img src="${static.url('images/logo-amundiacademy.png')}" />
    </div>
    -->
    <p id="intro-phrase-header" class="primary-color-text">Access your training modules</p>
    <span class="tuto_action bouton-more primary-color-text primary-color-text" onclick="followClickEvents(this,'more','navigation')">More <span>▶</span></span>
  </div>
</section>
      <!-- tuto  -->
<section id="dashboard_tuto_atp" class="primary-color-border">
  <!-- module 1 -->
  <div class="dashboard_tuto_atp primary-color-border" id="tuto_module_1">
    <p class="primary-color-text">To follow a training module, select the card of your choice!</p>
    <p style="margin-top: 0;margin-bottom: 0;" class="primary-color-text">Each training module is classified into a category and may take different formats.</p>
  </div>
  <!-- module 2 -->
              <div class="dashboard_tuto_atp primary-color-border">
    <h3 class="primary-color-text">THE TRAINING MODULES</h3>
    <p class="modules-subtext primary-color-text">Find all the information related to training modules on the cards below: title of the module, category, timing to fulfill the module, if it is mandatory or not and its digital formats.</p>
    <img src="${static.url('images/cartes.png')}" id="img_dashboard_tuto_cartes"/>
              </div>
  <!-- module 3 -->
              <div class="dashboard_tuto_atp primary-color-border">
    <h3 class="primary-color-text">CATEGORIES OF THE TRAINING MODULES</h3>
    <p class="primary-color-text">Your training modules are classified into 4 categories:</p>
    <ul>
      <li id="dashboard_tuto_atp_1">
        <h4 class="primary-color-text">fundamentals:</h4>
        <p class="primary-color-text">Focus on financial markets, economics and investment</p>
      </li>
      <li id="dashboard_tuto_atp_3">
        <h4 class="primary-color-text">our solutions:</h4>
        <p class="primary-color-text">Focus on expertise: products and offers</p>
      </li>
      <span style="clear:left; display: block;width:100%;height:0;padding:0;margin:0;"></span>
      <li id="dashboard_tuto_atp_2">
        <h4 class="primary-color-text">Business approach:</h4>
        <p class="primary-color-text">Focus on customer support and sales techniques</p>
      </li>
      <li id="dashboard_tuto_atp_4">
        <h4 class="primary-color-text">regulatory:</h4>
        <p class="primary-color-text">Focus on legal and regulatory frameworks</p>
      </li>
      <span style="clear:left; display: block;width:100%;height:0;padding:0;margin:0;"></span>
    </ul>
              </div>
  <!-- module 4 -->
              <div class="dashboard_tuto_atp last_tuto_atp primary-color-border" style="border-bottom: none;">
    <h3 class="primary-color-text">FORMATS OF THE TRAINING MODULES</h3>
    <p class="modules-subtext primary-color-text">Each training module is composed of one or more digital formats. Within the module, these formats are combined : video, quiz, serious game, investment game, sales documentation, infography, etc.</p>
    <div class="dashboard_picto_tuto_tma">
      <div><img src="${static.url('images/video.svg')}" class="svg primary-color-fill"/><span class="primary-color-text">video</span></div>
      <div><img src="${static.url('images/quiz.svg')}" class="svg primary-color-fill"/><span class="primary-color-text">quiz</span></div>
      <div><img src="${static.url('images/seriousgame.svg')}" class="svg primary-color-fill"/><span class="primary-color-text">serious game</span></div>
      <div><img src="${static.url('images/simulation_inv.svg')}" class="svg primary-color-fill"/><span class="primary-color-text">investment game</span></div>
      <div><img src="${static.url('images/pdf.svg')}" class="svg primary-color-fill"/><span class="primary-color-text">documentation</span></div>
      <div><img src="${static.url('images/testes&images.svg')}" class="svg primary-color-fill"/><span class="primary-color-text">infography</span></div>
      <span style="display:block;clear:left;"></span>
    </div>
              </div>
  <!-- button close -->
              <div class="dashboard_tuto_atp primary-color-border">
    <button class="tuto_action primary-color-text"><span>Close</span> <span class="arrow-top arrow_primary"></span></button>
              </div>
</section>
