<%page expression_filter="h"/>
<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/>
<%def name="online_help_token()"><% return "courseware" %></%def>
<%!
from django.utils.translation import ugettext as _
from django.conf import settings

from edxnotes.helpers import is_feature_enabled as is_edxnotes_enabled
from openedx.core.djangolib.markup import HTML
from openedx.core.djangolib.js_utils import js_escaped_string
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
#geoffrey
from courseware.courses import get_course_by_id

%>
<%
  include_special_exams = settings.FEATURES.get('ENABLE_SPECIAL_EXAMS', False) and (course.enable_proctored_exams or course.enable_timed_exams)
  try:
    primary_color=configuration_helpers.get_value('primary_color')
  except :
    primary_color="#05144d"
  if primary_color is None:
    primary_color="#05144d"

  try:
    secondary_color=configuration_helpers.get_value('secondary_color')
  except :
    secondary_color="#27ABEA"
  if secondary_color is None:
    secondary_color="#27ABEA"
%>

% if display_reset_dates_banner:
    <script type="text/javascript">
        $('.reset-deadlines-banner').css('display', 'flex');
    </script>
% endif
<%def name="course_name()">
 <% return _("{course_number} Courseware").format(course_number=course.display_number_with_default) %>
</%def>

<%block name="bodyclass">view-in-course view-courseware courseware ${course.css_class or ''}</%block>
<style>
.seq_content_next a{
width:auto!important;
}
#tma_course_top{
  width:100%!important;
  box-sizing: border-box!important;
}
#reset_bouton{
  font-size: 26px;
  border-radius: 26px;
}
.xmodule_display.xmodule_CapaModule div.problem .notification .notification-btn-wrapper{
  display: none!important;
}
div.xblock-student_view-scormxblock>div.scormxblock_block>p{
  display: none!important;
}
.main-container{
    padding : 0px !important;
}
div.openedxscorm_block > p:first-of-type, div.openedxscorm_block > div.js-scorm-block > div.scorm_button {
    display:none !important;
}
.xmodule_display.xmodule_SequenceModule .sequence-nav .sequence-list-wrapper{
    /*fix ie11*/
    height: auto !important;
}
</style>
<%block name="title"><title>
    % if section_title:
${static.get_page_title_breadcrumbs(section_title, course_name())}
    % else:
${static.get_page_title_breadcrumbs(course_name())}
    %endif
</title></%block>

<%block name="header_extras">

<!-- TMA FEATURES -->
<%
  completion_enabled = settings.FEATURES.get('TMA_ENABLE_COMPLETION_TRACKING')
  accordian_dots_enabled = settings.FEATURES.get('TMA_SHOW_COMPLETION_ON_COURSEWARE_NAVIGATION')
  course_id = str(course.id)
  #custom_track_url = reverse('track_html_component', args=[str(course_id)]) if completion_enabled else ''
  #completion_status_url = reverse('completion_status', args=[str(course_id)]) if accordian_dots_enabled else ''
  floating_button_enabled = settings.FEATURES.get('TMA_ENABLE_FORUM_FLOATING_BUTTON')
  custom_units_enabled = settings.FEATURES.get('TMA_ENABLE_CUSTOM_UNIT_LISTING')
%>
<script type="text/javascript">
  var customTrackUrl = "/track_html_component/";
  var completionStatusUrl = "/completion_status/?course_id=${course_id}";
  completionStatusUrl = '';
  var completionEnabled = "${completion_enabled}";
  var accordianDotsEnabled = "${accordian_dots_enabled}";
  var graduateicon_url = "${static.url('images/floating_button/graduateicon.png')}";
  var discussionicon_url = "${static.url('images/floating_button/discussionicon.png')}";
  var blue_red_img = "${static.url('images/nav/blue-red.png')}";
  var filled_img = "${static.url('images/nav/filled.png')}";
  var empty_img = "${static.url('images/nav/empty.png')}";
  var previous_button = "${static.url('images/nav/previous-button.png')}";
  var next_button = "${static.url('images/nav/next-button.png')}";
  var course_id = "${str(course.id)}";
</script>
<!-- //TMA FEATURES-->

% for template_name in ["image-modal"]:
<script type="text/template" id="${template_name}-tpl">
    <%static:include path="common/templates/${template_name}.underscore" />
</script>
% endfor

% if settings.FEATURES.get('ENABLE_COURSEWARE_SEARCH'):
    % for template_name in ["course_search_item", "course_search_results", "search_loading", "search_error"]:
        <script type="text/template" id="${template_name}-tpl">
            <%static:include path="search/${template_name}.underscore" />
        </script>
    % endfor
% endif

% if include_special_exams:
  % for template_name in ["proctored-exam-status"]:
    <script type="text/template" id="${template_name}-tpl">
        <%static:include path="courseware/${template_name}.underscore" />
    </script>
  % endfor
% endif

</%block>

<%block name="headextra">
<%static:css group='style-course-vendor'/>
<%static:css group='style-course'/>
## Utility: Notes


<script type="text/javascript" src="${static.url('js/jquery.autocomplete.js')}"></script>
<script type="text/javascript" src="${static.url('js/src/tooltip_manager.js')}"></script>

<link href="${static.url('css/vendor/jquery.autocomplete.css')}" rel="stylesheet" type="text/css">
  ${HTML(fragment.head_html())}
</%block>

<%block name="js_extra">
  <script type="text/javascript" src="${static.url('common/js/vendor/jquery.scrollTo.js')}"></script>
  <script type="text/javascript" src="${static.url('js/vendor/flot/jquery.flot.js')}"></script>

  ## codemirror
  <script type="text/javascript" src="${static.url('js/vendor/codemirror-compressed.js')}"></script>

  <%static:js group='courseware'/>
  <%include file="/mathjax_include.html" args="disable_fast_preview=True"/>

  % if settings.FEATURES.get('ENABLE_COURSEWARE_SEARCH'):
    <%static:require_module module_name="js/search/course/course_search_factory" class_name="CourseSearchFactory">
        var courseId = $('.courseware-results').data('courseId');
        CourseSearchFactory(courseId);
    </%static:require_module>
  % endif

  <%static:require_module module_name="js/courseware/courseware_factory" class_name="CoursewareFactory">
    CoursewareFactory();
  </%static:require_module>

  % if staff_access:
  	<%include file="xqa_interface.html"/>
  % endif

  <script type="text/javascript">
    var $$course_id = "${course.id | n, js_escaped_string}";
  </script>

${HTML(fragment.foot_html())}

</%block>

<div class="message-banner" aria-live="polite"></div>



<%
courseware = static.get_value('css_overrides_courseware')
%>
% if not courseware:
  <link rel="stylesheet" type="text/css" href="${static.url('css/courseware.css')}">
% else:
  <link rel="stylesheet" type="text/css" href="${static.url(courseware)}" />
% endif
<style>

  /* Modification couleur bouton soumettre */
  .xmodule_display.xmodule_CapaModule div.problem .action .submit-attempt-container button:not(:disabled), .xmodule_display.xmodule_CapaModule div.problem .action .submit-attempt-container button:not(:disabled):hover{
    background-color:${primary_color}!important;
    border-color:${primary_color}!important;
  }
  .finished .next_button {
    background-color: ${primary_color}!important;
    border-color: ${primary_color}!important;
    display:inline-block;
  }
  .group-heading.active{
    color:${secondary_color}!important;
  }

  i.fa-chevron-right,i.fa-chevron-up{
    transition: transform 0.3s;
  }
</style>


<div id="tma_course_top" class="secondary-color-bg">
    <div id="tma_course_ariane">
      <a href="/courses/${course.id}/about">< ${_("Back to training module description")}</a>
      % if staff_access and studio_url is not None:
      <br>
      <!--<a class="instructor-info-action studio-view" href="https://${settings.CMS_BASE}/settings/manage/${course.id}">< ${_("Access Admin interface")}</a>-->
      % endif
    </div>
  <div id="tma_title_wrapper">
    <h1>${course.display_name_with_default}</h1>
  </div>

</div>

<div class="container">
  <div class="course-wrapper" role="presentation">
<!--if disable_accordion is UNDEFINED or not disable_accordion:-->
%if false:
    <div class="course-index">

      <div class="wrapper-course-modes">

          <div class="courseware-bookmarks-button" data-bookmarks-api-url="${bookmarks_api_url}">
              <button type="button" class="bookmarks-list-button is-inactive" aria-pressed="false">
                  ${_('Bookmarks')}
              </button>
          </div>

          % if settings.FEATURES.get('ENABLE_COURSEWARE_SEARCH'):
            <div id="courseware-search-bar" class="search-bar courseware-search-bar" role="search" aria-label="Course">
              <form>
                <label for="course-search-input" class="sr">${_('Course Search')}</label>
                <div class="search-field-wrapper">
                  <input id="course-search-input" type="text" class="search-field"/>
                  <button type="submit" class="search-button">${_('Search')}</button>
                  <button type="button" class="cancel-button" title="${_('Clear search')}">
                    <span class="icon fa fa-remove" aria-hidden="true"></span>
                  </button>
                </div>
              </form>
            </div>
          % endif

      </div>

      <div class="accordion">
        <nav class="course-navigation" aria-label="${_('Course')}">
          % if accordion.strip():
            ${HTML(accordion)}
          % else:
            <div class="chapter">${_("No content has been added to this course")}</div>
          % endif
        </nav>
      </div>
      <div style="clear:both;"></div>

    </div>

% endif
        <section class="course-content" id="course-content">
        <div class="path"></div>
        <main id="main" aria-label="Content" tabindex="-1">
        % if getattr(course, 'entrance_exam_enabled') and \
           getattr(course, 'entrance_exam_minimum_score_pct') and \
           entrance_exam_current_score is not UNDEFINED:
            % if not entrance_exam_passed:
            <p class="sequential-status-message">
                ${_('To access course materials, you must score {required_score}% or higher on this \
                exam. Your current score is {current_score}%.').format(
                    required_score=int(round(course.entrance_exam_minimum_score_pct * 100)),
                    current_score=int(round(entrance_exam_current_score * 100))
                )}
            </p>
            <script type="text/javascript">
            $(document).ajaxSuccess(function(event, xhr, settings) {
                if (settings.url.indexOf("xmodule_handler/problem_check") > -1) {
                    var data = JSON.parse(xhr.responseText);
                    if (data.entrance_exam_passed){
                        location.reload();
                    }
                }
            });
            </script>
            % else:
              <p class="sequential-status-message">
                ${_('Your score is {current_score}%. You have passed the entrance exam.').format(
                    current_score=int(round(entrance_exam_current_score * 100))
                )}
            </p>
            % endif
        % endif

          ${HTML(fragment.body_html())}
        </main>
    </section>

    <section class="courseware-results-wrapper">
      <div id="loading-message" aria-live="polite" aria-relevant="all"></div>
      <div id="error-message" aria-live="polite"></div>
      <div class="courseware-results search-results" data-course-id="${course.id}" data-lang-code="${language_preference}"></div>
    </section>

  </div>
</div>
<div class="container-footer">
  % if settings.FEATURES.get("LICENSING", False):
    <div class="course-license">
    % if getattr(course, "license", None):
      <%include file="../license.html" args="license=course.license" />
    % else:
      ## Default course license: All Rights Reserved, if none is explicitly set.
      <%include file="../license.html" args="license='all-rights-reserved'" />
    % endif
    </div>
  % endif

</div>

<nav class="nav-utilities ${"has-utility-calculator" if course.show_calculator else ""}" aria-label="${_('Course Utilities')}">
  ## Utility: Notes

  ## Utility: Calc
  % if course.show_calculator:
    <%include file="/calculator/toggle_calculator.html" />
  % endif
</nav>

<%include file="../modal/accessible_confirm.html" />
<script>
  // definition des variables utiles
  var incorrect_wording = '${_("Incorrect")}';
  var correct_wording = '${_("Correct")}';
  var results_wording = '${_("Results")}';
  var completed_wording='${_("You have completed the training module")}';
  var course_end='${course.end}';
  var course_id='${course.id}';
  var course_language='${course.language}';
  var trophy_img="${static.url('images/trophy.svg')}";
  var failed_img="${static.url('images/refresh.svg')}";
  var congratulation_wording ="${_('Congratulations')}";
  var course_default_name="${course.display_name_with_default}";
  var started_wording='${_("You started the training module ")}';
  var training_over_wording='${_("The training campaign is over. You can access the training module content. However, you can\'t do the test to validate your knowledge.")}';
  var start_again_wording='${_("Start again")}';
  var certificate_wording='${_("Download the certificate")}';
  var unfortunately_wording = '${_("Unfortunately, you haven\'t achieved the minimum score ({score}%) required to validate the training module.").format(score=int(course.grading_policy.get('GRADE_CUTOFFS').get('Pass')*100))}';
  var score_wording = '${_("Your total score :")}';
  var to_end_wording = '${_("To end this training module, you have to access every chapters and finish the validation knowledge test.")}';


</script>
<script type="text/javascript" src="${static.url('js/courseware_completion.js')}"></script>
<script type="text/javascript">
var timeLimit = "${time_limit}";

if(timeLimit === "None"){
  timeLimit = null
}

function disableNextButton() {
  // DISABLE NEXT BUTTON WHEN UNIT IS NOT COMPLETED
  $(".tma_tab").each(function(){
   if($(this).hasClass('disabled_unit_tma')){
     $(this).children('.sequence-bottom').children('.button-next').prop("disabled", true)
   } 
 })
};

setInterval(disableNextButton, 50);
console.log(blocksTimeLimit)
</script>
<script src="${static.url('js/tma_custom_quiz_display.js')}"></script>
<%
user_id = user.id
username = user.username
course_id = course.id
%>

<script>
  function ariane_height() {
    var width = $(window).width();
    if(width > 899) {

      var h1_h = $('#tma_course_top').find('h1').height();
      $('#tma_course_top').css('height',h1_h+'px');
      $('#tma_course_top').find('h1').css('margin-top','-'+(h1_h/2)+'px');
    }else{
      $('#tma_course_top').attr('style','');
      $('#tma_course_top').find('h1').attr('style','');
    }
  }
  ariane_height();
  $(window).resize(function(){
    ariane_height();
  })
  ////////////////////////////////////// XITI ///////////////////
  page_name = 'page_courseware';
</script>
