<%namespace name='static' file='../static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from courseware.courses import get_course_about_section
from django.conf import settings
from edxmako.shortcuts import marketing_link
from openedx.core.lib.courses import course_image_url
from lms.djangoapps.grades.course_grade_factory import CourseGradeFactory
from opaque_keys.edx.locations import SlashSeparatedCourseKey
from courseware.courses import (
    get_course_by_id,
)
import datetime
_now = int(datetime.datetime.now().strftime('%s'))
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
%>

<%inherit file="../main.html" />
<%block name="headextra">
  ## OG (Open Graph) title and description added below to give social media info to display
  ## (https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content#tags)
  <meta property="og:title" content="${course.display_name_with_default_escaped}" />
  <meta property="og:description" content="${get_course_about_section(request, course, 'short_description')}" />
</%block>
<%
dashboard = static.get_value('css_overrides_dashboard')
%>
% if not dashboard:
  <link rel="stylesheet" type="text/css" href="${static.url('css/dashboard.css')}">
% else:
  <link rel="stylesheet" type="text/css" href="${static.url(dashboard)}" />
% endif
<%
course_about = static.get_value('css_overrides_course_about')
%>
% if not course_about:
  <link rel="stylesheet" type="text/css" href="${static.url('css/course_about.css')}">
% else:
  <link rel="stylesheet" type="text/css" href="${static.url(course_about)}" />
% endif

<%
if configuration_helpers.get_value('primary_color') :
  primary_color=configuration_helpers.get_value('primary_color')
else:
  primary_color='#05144d'
%>

<style>
/* Picto investissement */
#picto_course_about svg path, #picto_course_about svg polygon{
  fill:${primary_color}!important;
}
.clear-left{
  clear:left
}
</style>

<script src="${static.url('js/course_about_atp.js')}"></script>

<section id="course_about_contenair">
<section id="course_about_up_content">
<section id="atp_ariane_about">
<!--MODIF AURELIEN-->
	<span id="atp_ariane_about_dashboard" class="primary-color-text" >${_("Home")}</span><span> > ${course.display_name_with_default_escaped}</span>
</section>
<section id="atp_about_course_card">
<ul class="atp_course_listing">

<%
try:
    course_factory = CourseGradeFactory().create(request.user, course)
    pass_atp = course_factory.passed
    percent_atp = course_factory.percent
except:
    pass_atp = False
    percent_atp = 0
try:
    _end = int(course.end.strftime('%s'))
except:
    _end = 0
%>

<%
 if _now > _end :
  atp_rank = 'finish'
  status_message="Completed"
 else :
   if status == 0:
    atp_rank = 'invite'
    status_message="To do"
   elif pass_atp :
    atp_rank = 'finish'
    status_message="Completed"
   else :
    atp_rank = 'cours'
    status_message='In progress'
%>


<% course_about = 1 %>
<% course_about_name = course.display_name_with_default_escaped %>
<% course_about_link = '/courses/'+str(course.id)+'/' %>
<% course_about_id = str(course.id) %>
<% course_about_img = course_image_urls['large'] %>
<% course_progression = status %>
<% compteur = 0 %>
<% can_unenroll = False %>
<% credit_status = False %>
<% show_email_settings = False %>
<% course_mode_info = False %>
<% show_refund_option = False %>
<% is_paid_course = False %>
<% is_course_blocked = False %>
<% course_verification_status = False %>
<% course_requirements = False %>
<% show_courseware_link = '/courses/'+str(course.id)+'/' %>
<% duration = get_course_about_section(request, course, "effort")  %>
<% course_tma = get_course_by_id(course.id) %>
<% content_data = course_tma.content_data %>
<% required = course.is_required_atp %>


<%include file='../dashboard/_dashboard_course_listing.html' args=
'percent=percent_atp,
passed=pass_atp,
categ=categ,
content_data=content_data,
required=required,
duration=duration,
course_about_link=course_about_link,
course_about_id=course_about_id,
course_about_img=course_about_img,
course_about_name = course_about_name,
course_about = course_about,
course_progression = course_progression,
compteur=compteur,
atp_rank=atp_rank,
course_overview=course_tma,
 enrollment=False,
 show_courseware_link=False,
 cert_status=False,
 can_unenroll=can_unenroll,
 credit_status=credit_status,
 show_email_settings=show_email_settings,
 course_mode_info=course_mode_info,
 show_refund_option=show_refund_option,
 is_paid_course=is_paid_course,
 is_course_blocked=is_course_blocked,
 verification_status=False,
 course_requirements=False,
 dashboard_index=False,
 share_settings=False,
 user=user,
 related_programs=False,
 display_course_modes_on_dashboard=True' />
<span style="display:block;clear:left;"></span>
</ul>
</section>
<section id="atp_about_desc">

<h1 class="primary-color-text">${course.display_name_with_default_escaped}</h1>
<p id="course_about_accroche" class="secondary-color-text">${get_course_about_section(request, course, 'short_description')}</p>

<!-- COURSE ABOUT DETAILS ---------------------------------------->
<div id="course_about_details">
  <div class="course_detail_cartouche">
   <% course_start_date = course.start %>
     <span class="details_titles primary-color-text">${_("Starting date")} :</span> <span class="gold-maj-text">${course_start_date.strftime('%Y-%m-%d')}</span>
  </div>
  <div class="course_detail_cartouche">
   <span class="details_titles primary-color-text" >${_("Ending date")} :</span>
  <span class="gold-maj-text">
     % if get_course_about_section(request, course, "end_date") or course.end:
        % if get_course_about_section(request, course, "end_date"):
           ${get_course_about_section(request, course, "end_date")}
        % else:
           ${course.end.strftime('%Y-%m-%d')}
        % endif
     %endif
   </span>
  </div>
  <div class="course_detail_cartouche">
    <span class="details_titles primary-color-text">${_("Language")} :</span> <span id="${course_details.language}" class="gold-maj-text">${course_details.language}</span>
  </div>
  <div class="course_detail_cartouche">
    <span class="details_titles primary-color-text">${_("Status")} :</span>
    <span class="gold-maj-text">${_(status_message)}</span>
  </div>
  <div class="course_detail_cartouche">
    % if pass_atp:
      <a href="#" id="certiticate"><img src="${static.url('images/pdf.svg')}" class="svg"/> ${_("Download certificate")}</a>
    %endif
  </div>
  <!--
  <div class="course_detail_cartouche">
     <span>${_("Score")} :</span> <span id="${course_details.language}">${str(float(int(percent_atp * 1000)/10))+'%'}</span>
       % if pass_atp:
      <img src="${static.url('images/success.png')}" class="validate_img"/><span class="is_green validate">${_("Validated")}</span>
       %else:
       <img src="${static.url('images/error.png')}" class="validate_img"/><span class="validate">${_("Not validated")}</span>
       % endif
  </div>-->
  % if _now > _end:
    <div class="course_detail_cartouche">
      <%
      try:
        _end = int(course.end.strftime('%s'))
      except:
        _end = 0
      %>
        <span></span> <span class="validate is_primary" id="gwb_the_game_is_over_19_03_2003">${_("The training campaign is over.")}</span>
    </div>
  % endif
  <div class="clear-left"></div>
</div>



<!-- COURSE DESCRIPTION ------------------------------------>
<div class="details">
% if staff_access and studio_url is not None:
 <div class="wrap-instructor-info studio-view">
  <!--<a class="instructor-info-action" href="https://${settings.CMS_BASE}/settings/manage/${course.id}">${_("View About Page in studio")}</a>-->
 </div>
% endif
 <div class="inner-wrapper primary-color-text">
   ${get_course_about_section(request, course, "overview")}
 </div>
</section>
<span style="display:block;clear:both;"></span>
</section>
<section id="course_about_atp_end">
 <img src="${static.url('images/pdf.svg')}" id="encoche_course_about"/>
 <h2 class="primary-color-text">${_("FORMATS")}</h2>
 <div id="picto_course_about">
   <div class="atp_course_picto">
% if content_data.get('document_pdf'):
<div class="dashboard_picto_tuto_tma">
<img src="${static.url('images/pdf.svg')}" class="svg primary-color-fill"/>
<span class="primary-color-text">${_("pdf")}</span>
</div>
% endif
% if content_data.get('webzine'):
<div class="dashboard_picto_tuto_tma">
<img src="${static.url('images/webzine.svg')}" class="svg primary-color-fill"/>
<span class="primary-color-text">${_("webzine")}</span>
</div>
% endif
% if content_data.get('quiz'):
<div class="dashboard_picto_tuto_tma">
<img src="${static.url('images/quiz.svg')}" class="svg primary-color-fill"/>
<span class="primary-color-text">${_("quiz")}</span>
</div>
% endif
% if content_data.get('video'):
<div class="dashboard_picto_tuto_tma ">
<img src="${static.url('images/video.svg')}" class="svg primary-color-fill"/>
<span class="primary-color-text">${_("video")}</span>
</div>
% endif
% if content_data.get('serious_game'):
<div class="dashboard_picto_tuto_tma">
<img src="${static.url('images/seriousgame.svg')}" class="svg primary-color-fill"/>
<span class="primary-color-text">${_("serious game")}</span>
</div>
% endif
% if content_data.get('simulation_investissement'):
<div class="dashboard_picto_tuto_tma">
<img src="${static.url('images/simulation_inv.svg')}" class="svg primary-color-fill"/>
<span class="primary-color-text">${_("investment game")}</span>
</div>
% endif
% if content_data.get('text_image'):
<div class="dashboard_picto_tuto_tma">
<img src="${static.url('images/testes&images.svg')}" class="svg primary-color-fill"/>
<span class="primary-color-text">${_("Infography")}</span>
</div>
% endif
   </div>
 </div>
</section>
</section>
<script>
$(document).scroll(function(){
  var scroll_h = $(this).scrollTop();
  if(scroll_h >= 90) {
    $('.atp_course_info').hide();
    $('.atp_course_picto').hide();
    $('#picto_course_about').find('.atp_course_picto').show();
    $('.atp_course_image').slideUp(1000);
    $('.atp_course_title').css('padding-top','10px');
    $('.atp_course_title').css('padding-bottom','10px');
  }else{
    $('.atp_course_info').show();
    $('.atp_course_picto').show();
    $('.atp_course_image').slideDown(1000);
    $('.atp_course_title').attr('style','');
  }
})
% if pass_atp:
$('#certiticate').click(function(e){
  e.preventDefault();
  var course_id = '${course.id}';
  var url = '/api/atp/check/certificate/${course.id}/';
  $.ajax({
    url:url,
    type:'GET',
    dataType:'json',
    success:function(data){
      window.open(data.certificate_url,'_self');
    }
  })
})
% endif
</script>


<script>
    function catalogenroll(course_id_for_enroll){
               $.ajax({
                 type: "POST",
                 url: "/change_enrollment",
                 data: {"course_id": course_id_for_enroll, "enrollment_action": "enroll"},
                 success: function(){window.location.href="/courses/"+course_id_for_enroll+"/courseware";},
                 error: function(){window.location.href="/courses/"+course_id_for_enroll+"/courseware";}
               });
    }

  ////////////////////////////////////// XITI ///////////////////
  page_name = 'page_course_about';

  $(document).ready(function(){
    $('.more_info').each(function(){
      $(this).attr('onclick','followClickEvents(this,\'courseware\',\'action\')');
    });
    $('.start_module').each(function(){
      $(this).attr('onclick',"followClickEvents(this,'start','action');catalogenroll('${course_about_id}');");
    });
    $('.proceed').each(function(){
      $(this).attr('onclick','followClickEvents(this,\'courseware\',\'action\')');
    });
  })
</script>

<style>


</style>
