{% extends 'ace_common/edx_ace/common/base_body.html' %}

{% load i18n %}
{% load static %}
{% block content %}
<table width="100%" align="left" border="0" cellpadding="0" cellspacing="0" role="presentation">
    <tr>
        <td>
            <!-- <h1>
                {% filter force_escape %}
                {% blocktrans %}Email Change Confirmation for {{ platform_name }}{% endblocktrans %}
                {% endfilter %}
            </h1> -->
            <p style="color: rgba(0,0,0,.75);">
                Este mail es para confirmar que has cambiado el correo electrónico asociado a tu cuenta de Amazon Despega de {{ old_email }} a {{ new_email }}.
                <br />
            </p>

            <p style="color: rgba(0,0,0,.75);">
                Si no realizaste esta solicitud, por favor contáctanos de inmediato.

                Guardamos registros de los antiguos correos electrónicos. De esta manera, si tu solicitud no fue intencional, podemos investigarlo.
                <br />
            </p>

        </td>
    </tr>
</table>
{% endblock %}
