<%page expression_filter="h"/>
<%inherit file="main.html" />
<%def name="online_help_token()"><% return "learnerdashboard" %></%def>
<%namespace name='static' file='static_content.html'/>
<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
from django.template import RequestContext
import third_party_auth
from third_party_auth import pipeline
from openedx.core.djangolib.js_utils import dump_js_escaped_json, js_escaped_string
from openedx.core.djangolib.markup import HTML, Text

from opaque_keys.edx.keys import CourseKey
from openedx.core.djangoapps.models.course_details import CourseDetails
#from course_progress.helpers import get_overall_progress
#from lms.djangoapps.grades.new.course_grade import CourseGradeFactory
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
import random

from django.utils.translation import LANGUAGE_SESSION_KEY

from courseware.courses import (
    get_course_by_id,
)
first_course_name = ''
%>

<%
cert_name_short = settings.CERT_NAME_SHORT
cert_name_long = settings.CERT_NAME_LONG

url_array = []
url_array.append('images/1collaboration.jpg')
url_array.append('images/2centrefinancier.jpg')
url_array.append('images/3connaissance.jpg')
url_array.append('images/4environement.jpg')
url_image = random.choice(url_array)

siteconfig = configuration_helpers.get_current_site_configuration()

if siteconfig.site_values['primary_color'] is not None:
  primary_color=siteconfig.site_values['primary_color']
else:
  primary_color='#05144d'

if siteconfig.site_values['secondary_color'] is not None:
  secondary_color=siteconfig.site_values['secondary_color']
else:
  secondary_color='#05144d'

%>


<style>
#dashboard_header_atp {
  background-image: url('${static.url(url_image)}');
}
</style>

<script>
// load courses values
var courses_atp = {
   start_courses:${dump_js_escaped_json(start_course) | n, decode.utf8},
   progress_courses:${dump_js_escaped_json(progress_courses) | n, decode.utf8},
   end_courses:${dump_js_escaped_json(finish_courses) | n, decode.utf8}
}

//load pictos
var picto_dure = "${static.url('images/duree.svg')}";
var picto_obiligatoire = "${static.url('images/obligatoire.svg')}";
var picto_pdf = "${static.url('images/pdf.svg')}";
var picto_webzine = "${static.url('images/webzine.svg')}";
var picto_quiz = "${static.url('images/quiz.svg')}";
var picto_video = "${static.url('images/video.svg')}";
var picto_serious_game = "${static.url('images/seriousgame.svg')}";
var picto_teste_images = "${static.url('images/testes&images.svg')}";
var picto_success = "${static.url('images/success.png')}";
var picto_error = "${static.url('images/error.png')}";
var picto_simulation_inv = "${static.url('images/simulation_inv.svg')}";

//load wording
var wording_fundamental = "${_('Fundamentals')}";
var wording_oursolutions = "${_('Our solutions')}";
var wording_businessapproach = "${_('Business approach')}";
var wording_expert = "${_('expert')}";
var wording_softskills = "${_('soft skills')}";
var wording_regulatory = "${_('Regulatory')}";
var wording_mandatory = '${_("mandatory")}';
var wording_optional ='${_("optional")}';
var wording_proceed = '${_("Proceed")}';
var wording_morinfo='${_("More information")}';
var wording_notvalidated='${_("Not validated")}';
var wording_validated='${_("Validated")}';
</script>


<!-- styles more modules -->
<%block name="pagetitle">${_("Dashboard")}</%block>
<%block name="bodyclass">view-dashboard is-authenticated</%block>

<%block name="header_extras">

% for template_name in ["donation"]:
<script type="text/template" id="${template_name}-tpl">
  <%static:include path="dashboard/${template_name}.underscore" />
</script>
% endfor

% for template_name in ["dashboard_search_item", "dashboard_search_results", "search_loading", "search_error"]:
<script type="text/template" id="${template_name}-tpl">
    <%static:include path="search/${template_name}.underscore" />
</script>
% endfor
</%block>

<%block name="js_extra">
  <script src="${static.url('js/commerce/credit.js')}"></script>
  <%static:js group='dashboard'/>
  <script type="text/javascript">
    $(document).ready(function() {
      edx.dashboard.legacy.init({
        dashboard: "${reverse('dashboard') | n, js_escaped_string}",
        signInUser: "${reverse('signin_user') | n, js_escaped_string}",
        changeEmailSettings: "${reverse('change_email_settings') | n, js_escaped_string}"
      });
    });
  </script>
  % if settings.FEATURES.get('ENABLE_DASHBOARD_SEARCH'):
    <%static:require_module module_name="js/search/dashboard/dashboard_search_factory" class_name="DashboardSearchFactory">
        DashboardSearchFactory();
    </%static:require_module>
  % endif
  % if redirect_message:
    <%static:require_module module_name="js/views/message_banner" class_name="MessageBannerView">
        var banner = new MessageBannerView({urgency: 'low', type: 'warning'});
        $('#content').prepend(banner.$el);
        banner.showMessage(${redirect_message | n, dump_js_escaped_json})
    </%static:require_module>
  % endif
</%block>
<!-- GEOFFREY -->
<!-- import custom css script -->
<%
dashboard = static.get_value('css_overrides_dashboard')
%>
% if not dashboard:
  <link rel="stylesheet" type="text/css" href="${static.url('css/dashboard.css')}">
% else:
  <link rel="stylesheet" type="text/css" href="${static.url(dashboard)}" />
% endif
<!-- import custom js script -->


<!--<script src="/media/jswork/dashboard_atp.js"></script>-->
<script src="${static.url('js/dashboard_atp.js')}"></script>
<!-- platform messages html script -->
<div class="dashboard-notifications" tabindex="-1">
    %if message:
        <div class="dashboard-banner">
            ${message | n, decode.utf8}
        </div>
    %endif

    %if enrollment_message:
        <div class="dashboard-banner">
            ${enrollment_message | n,  decode.utf8}
        </div>
    %endif
</div>



<!--
<link rel="stylesheet" type="text/css" href="/media/studio/course_cards.css" />
-->
<link rel="stylesheet" type="text/css" href="${static.url('css/course_cards.css')}" />
% for category in list_category :
  %if category.lower() =="fundamentals":
    <style>
      #cat_fond{
        display: block;
      }
    </style>
  %elif category.lower() =="soft skills ":
    <style>
      #cat_softskills{
        display: block;
      }
    </style>
  %elif category.lower() =="expert ":
    <style>
      #cat_expert{
        display: block;
      }
    </style>
  %elif category.lower() =="our solutions" :
    <style>
      #cat_solu{
        display: block;
      }
    </style>
 %elif category.lower() =="sales approach" :
   <style>
     #cat_dem_com{
       display: block;
     }
   </style>
 %elif category.lower() =="soft skills" :
   <style>
     #cat_dem_sofskil{
       display: block;
       border-left:8px solid #30B0B4!important;
     }
   </style>
 %elif category.lower() =="expert" :
   <style>
     #cat_dem_exp{
       display: block;
       border-left:8px solid #004f9f!important;
     }
   </style>
 %elif category.lower() =="regulatory" :
   <style>
     #cat_reg{
       display: block;
     }
   </style>
  %endif
%endfor

<section id="dashboard_tma">
	<!-- baniere  -->
% if LANGUAGE_CODE == 'fr':
  <%include file='/home-intros/fr-home-intro.html' args="static=static, url_image=url_image" />
% elif LANGUAGE_CODE == 'it-it':
  <%include file='/home-intros/it-home-intro.html' args="static=static, url_image=url_image" />
% elif LANGUAGE_CODE == 'cs':
  <%include file='/home-intros/cs-home-intro.html' args="static=static, url_image=url_image" />
% elif LANGUAGE_CODE == 'de-de':
  <%include file='/home-intros/de-home-intro.html' args="static=static, url_image=url_image" />
% elif LANGUAGE_CODE == 'nl-nl':
  <%include file='/home-intros/nl-home-intro.html' args="static=static, url_image=url_image" />
% elif LANGUAGE_CODE == 'ro':
  <%include file='/home-intros/ro-home-intro.html' args="static=static, url_image=url_image" />
% elif LANGUAGE_CODE == 'hu':
  <%include file='/home-intros/hu-home-intro.html' args="static=static, url_image=url_image" />
% elif LANGUAGE_CODE == 'sk':
  <%include file='/home-intros/sk-home-intro.html' args="static=static, url_image=url_image" />
%else :
  <%include file='/home-intros/en-home-intro.html' args="static=static, url_image=url_image" />
% endif

	<!-- module en cours -->
	<section  id="dashboard_course_in_progress_atp">
        	<h2 style="margin-bottom:0px;"><img style="height:50px;width:50px;" src="${static.url('images/encours.svg')}" class="svg primary-color-fill"/><span class="primary-color-text">${_("In progress")}</span></h2>
          <div id="ancre-in-progress"></div>
		<p class="first_p primary-color-text">${_('Below are training modules you have started but not yet completed. Click \"Proceed\" to continue.')}</p>
        <!-- course listing -->
<% compteur = 0 %>
<% first_course_name = '' %>
% if len(progress_courses) > 0:
  <ul class="atp_course_listing" id="progress_courses_atp">

  </ul>
% else:
  <div class="empty-dashboard-message">
    <p class="primary-color-text">${_("No training modules available in this section.")}</p>
</div>
% endif
		<a class="atp_dashboard_active_course is_none_more primary-color-text" data-number="${compteur}" id="more_1" data-cible="progress_courses_atp" data-status="cours">+ ${_("More modules")}</a>
	</section>
	<!-- module a realiser -->
	<section id="dashboard_course_to_do">
        	<h2 style="margin-bottom:0px;"><img style="height:50px;width:50px;" src="${static.url('images/arealiser.svg')}" class="svg primary-color-fill"/><span class="primary-color-text">${_("To do")}</span></h2>
          <div id="ancre-to-do"></div>
		<p class="first_p primary-color-text" style="margin-top:35px;">${_("Below, access training modules you have yet to complete. Click")} &laquo; ${_("More information")} &raquo; ${_("to continue")}.</p>
	<!-- course listing -->
<% compteur = 0 %>
% if len(start_course) > 0:
  <ul class="atp_course_listing primary-color-text" id="start_courses_atp">

  </ul>
% else:
  <div class="empty-dashboard-message">
    <p class="primary-color-text">${_("No training modules available in this section.")}</p>
</div>
% endif
<a class="atp_dashboard_active_course is_none_more primary-color-text" data-number="${compteur}" id="more_2" data-cible="start_courses_atp" data-status="invite">+ ${_("More modules")}</a>
	</section>
	<!-- module termine -->
	<section id="dashboard_course_finished">
		<h2 style="margin-bottom:0px;"><img style="height:50px;width:50px;" src="${static.url('images/termine.svg')}" class="svg gradient primary-color-fill"/><span class="primary-color-text">${_("Completed")}</span></h2>
      <div id="ancre-finished"></div>
		<p class="first_p primary-color-text" style="margin-top:35px;">${_("Click")} &laquo; ${_("More information")} &raquo; ${_("to access the result of modules you passed. Below you can also find training modules you have not passed, and are no longer accessible")}.</p>
	<!-- course listing -->
<% compteur = 0 %>
% if len(finish_courses) > 0:
  <ul class="atp_course_listing" id="end_courses_atp">

  </ul>
% else:
  <div class="empty-dashboard-message">
    <p>${_("No training modules available in this section.")}</p>
</div>
% endif
<a class="atp_dashboard_active_course is_none_more" data-number="${compteur}" id="more_3" data-cible="end_courses_atp" data-status="finish">+ ${_("More modules")}</a>
	</section>


</section>

% if is_new_user:
<div id="pop_up">
  %if request.LANGUAGE_CODE=="en":
    <p>
      Welcome to the Academy platform! Your registration has been successful. The training modules are available in the "To Do" section.
    </p>
  %else:
  <p class="primary-color-text">${_("Welcome to the Academy platform")}!
    ${_("Your registration has been successful")}.
    ${_("The training module")} ${first_course_name} ${_("is available in the section")}
    ${_("To do")}.
  </p>
  %endif
  <button id="close_pop_up" class="primary-color-bg primary-color-border">${_("Close")}</button>
</div>
<script>
$('#close_pop_up').click(function(){
  $('#pop_up').addClass('is_hidden_tma');
})
</script>
% endif




<!--<script src="/media/jswork/course_cards.js"></script>-->
<script src="${static.url('js/course_cards.js')}"></script>

<script>
  ////////////////////////////////////// XITI ///////////////////
  page_name = 'home_dashboard_apprenant';
  $(document).ready(function(){
    $('.proceed').parent('a.primary-color-bg').each(function(){
      $(this).attr('onclick','followClickEvents(this,\'courseware\',\'action\')');
    });
    $('.more_info').parent('a.primary-color-bg').each(function(){
      $(this).attr('onclick','followClickEvents(this,\'course_about\',\'action\')');
    });
  })

</script>
