## mako
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
  from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>
<!-- GEOFFREY -->
<!-- import custom css script -->
<%
footer = static.get_value('css_overrides_footer')
if configuration_helpers.get_value('third_text_color') :
  third_text_color = configuration_helpers.get_value('third_text_color')
else:
  third_text_color = 'white'
%>
% if not footer:
  <link rel="stylesheet" type="text/css" href="${static.url('css/footerlo.css')}">
% else:
  <link rel="stylesheet" type="text/css" href="${static.url(footer)}" />
% endif
<style>
  .pop_up_atp{
    padding: 30px 60px;
  }
  .second-footer-group{
    float:right!important;
    margin-top: 0px!important;
    margin-bottom: 0px!important;
    margin-right: 10px!important;
  }
  .trademark{
    float: left!important;
    margin-top: 0px!important;
    margin-bottom: 0px!important;
  }
  #footer_atp{
    height: 25px!important;
    box-sizing: border-box!important;
  }
  #footer_atp ul li{
    line-height: inherit!important;
  }
  #footer_atp ul{
    padding: 0 25px;
    height: 100%;
  }
  #footer_atp ul li a,#footer_atp ul li {
    font-size: 12px;
    font-weight: 400;
    color: ${third_text_color};
  }

.pop_up_atp h1,.pop_up_atp h2, .pop_up_atp h3,.pop_up_atp p {
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.pop_up_atp h1 {
  margin-bottom: 20px !important;
  font-size: 32px !important;
}

.pop_up_atp h2 {
  margin-bottom: 10px !important;
  font-size: 25px !important;
}

.pop_up_atp h3,.pop_up_atp p {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  font-size: 18px important;
}
.pop_up_atp .btn {
  padding-top: 8px;
  padding-bottom: 8px;
}
#pop_up_legal_notice{
  font-size: 14px;
  overflow: scroll;
  max-height: 650px;
}
#close_cross{
  font-size: 20px;
  margin-bottom: 10px;
}
#close_cross span{
  cursor: pointer;
}
</style>
<!-- import custom js script -->
<div id="pop_up_legal_notice" class="pop_up_atp">
  <div class="text-right" id="close_cross"><span>X</span></div>
  <%
  if configuration_helpers.get_value('disclaimer') :
    disclaimer = configuration_helpers.get_value('disclaimer')
  else :
    disclaimer=''
  endif%>
  ${disclaimer|n}
  <div class="modal-close">
    <a  class="btn btn-success btn-no-green" id="close_legal">
      ${_('Close')}
    </a>
  </div>
</div>
<section id="footer_atp" class="third-color-bg">
  <%
  logo_url = static.get_value('logo')
  %>
  % if not logo_url:
  <!--<img src="${static.url('images/logo.png')}" />-->
  % else:
  <!--<img src="${logo_url}" /-->
  % endif
  <%
  if configuration_helpers.get_value('contact_address') :
    mailto = "mailto:"+configuration_helpers.get_value('contact_address')
  else :
    mailto="mailto:contact@yopmail.com"
  %>
 <ul>
   <%
   if configuration_helpers.get_value('trademark') :
     trademark=configuration_helpers.get_value('trademark')
   else:
     trademark="© Amundi 2018"
   %>
   <li class="trademark">${trademark}</li>
  <li class="second-footer-group"><span href="" id="legal_notice" style="text-transform:capitalize;cursor:pointer;" onclick="followClickEvents(this,'dislcaimer','action')">${_("disclaimer")}</span></li>
  <li class="second-footer-group"><a href="${mailto}" onclick="followClickEvents(this,'contact','action')">${_("Contact")}</a></li>
  <span style="display:block;clear:both;"></span>
 </ul>
 <span style="display:block;clear:both;"></span>
</section>
<script>
$('#legal_notice,#close_legal,#close_cross span').click(function(e){
  $('#pop_up_legal_notice').toggle();
});

</script>
<script src="${static.url('js/bootstrap.min.js')}" charset="utf-8"></script>
