<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse

from openedx.core.djangolib.markup import HTML, Text

from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
%>


<%
#Build login page redirect URI
login_page_uri = configuration_helpers.get_value('login_page_uri','https://interface.amundi.com/ret/landing/academy/index.html#/[LANG]/'+configuration_helpers.get_value('course_org_filter','amundi')+'/apprenant')
user_language = request.LANGUAGE_CODE

if '-' in user_language:
  user_language=user_language.split('-')[0]
if user_language == 'cs':
  user_language = 'cz'

login_page_uri = login_page_uri.replace("[LANG]",user_language)
%>


%if user.is_authenticated:
<h2>
Si vous n'êtes pas redirigé(e), <a href="/dashboard">cliquez ici</a>.
<br/>
If you are not redirected, <a href="/dashboard">click here</a>.
</h2>
<script type="text/javascript">
window.location.replace("/dashboard");
</script>
%else:
<h2>
Si vous n'êtes pas redirigé(e), <a href="${login_page_uri}">cliquez ici</a>.
<br/>
If you are not redirected, <a href="${login_page_uri}">click here</a>.
</h2>
<script type="text/javascript">
console.log("${login_page_uri}")
window.location.replace("${login_page_uri}");
</script>
%endif
