## mako

<%page expression_filter="h"/>

<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>

<%inherit file="../main.html"/>

<%block name="title">
    <title>${_("Your Password Reset is Complete")}</title>
</%block>

<%block name="bodyextra">
    <script type="text/javascript">
        $(function() {
            'use strict';
            // adding js class for styling with accessibility in mind
            $('body').addClass('js');
        });
    </script>
</%block>

<%block name="bodyclass">view-passwordreset</%block>

<%block name="body">
<div id="password-reset-complete-container" class="login-register">
    <section id="password-reset-complete-anchor" class="form-type">
        <div id="password-reset-complete" class="form-wrapper">
            <div class="status submission-success" aria-live="polite">
                <h4 class="message-title">${_("Password Reset Complete")}</h4>
                <script>
                    function getCookie(name) {
                           var value = "; " + document.cookie;
                           var parts = value.split("; " + name + "=");
                           if (parts.length > 1) {
                               // Return the last occurrence of the cookie
                               return parts[parts.length - 1].split(";")[0];
                           }
                           return undefined;
                       }
                       
                       var myCookieValue = getCookie('openedx-language-preference');
                       console.log(myCookieValue);
                   
                       window.addEventListener("load", function () {
                       
                                   if (myCookieValue == 'nl-nl') {
                                        let messageTitle = document.getElementsByClassName("message-title")
                                        if (messageTitle) {
                                            messageTitle[0].innerText = "wachtwoord opnieuw instellen"
                                        }
                                   }       
                               }
                           );
                   
                    </script>
                <ul class="message-copy">
                ${Text(_("Your password has been reset. {start_link}Sign-in to your account.{end_link}")).format(
                    start_link=HTML('<a href="/login">'),
                    end_link=HTML('</a>')
                )}
                </ul>
            </div>
        </div>
    </section>
</div>
</%block>

