@font-face{
  font-family:'mywebfont';
  src:url("../fonts/arial.otf") format("otf"),url("../fonts/arial.ttf") format("truetype")
}
html,body,span,h1,h2,h3,h4,h5,h6,div,a,button,input,p,section{
  font-family:"mywebfont"
}
.content-wrapper{
  background-color:transparent
}
body{
  min-height:100vh
}
input[type="submit"]:not(:disabled),input[type="button"]:not(:disabled),button:not(:disabled),.button:not(:disabled){
  background-image:none;
  box-shadow:none}
input[type="submit"]:hover:not(:disabled),input[type="button"]:hover:not(:disabled),button:hover:not(:disabled),.button:hover:not(:disabled),button:focus:not(:disabled){
  background-image:none;
  box-shadow:none}
.login-register .action-primary,.financial-assistance-wrapper .financial-assistance-form .action-primary{box-shadow:none}
button:hover:not(:disabled){
  background:#fff;
}
button:not(:disabled){
  background:#fff;
}
.login-register .form-field .field-link,.financial-assistance-wrapper .financial-assistance-form .form-field .field-link{

}
.btn-blue:hover,.dashboard-banner .wrapper-msg .msg.has-actions .donate-actions .action-donate:hover,.login-register .action-primary:hover,.financial-assistance-wrapper .financial-assistance-form .action-primary:hover,.verification-process .action-primary-blue:hover,.verification-process .carousel .wrapper-task .controls .control .action:hover,.verification-process .carousel .wrapper-task .msg .list-actions .action-retakephotos a:hover,.verification-process .carousel #wrapper-review .review-task-name .list-actions .action-editname a:hover,.verification-process.step-select-track .register-choice-audit .action-select input:hover,.verification-process.step-confirmation .course-info .options .action-course:hover,.verification-process.step-confirmation .course-info .course-actions .action-dashboard:hover,.reverify-blocked .action-primary:hover,.wrapper-authorize .btn-authorization-allow:hover,.wrapper-msg.wrapper-auto-cert .auto-cert-message .has-actions .msg-actions .btn:hover,.btn-blue:active,.dashboard-banner .wrapper-msg .msg.has-actions .donate-actions .action-donate:active,.login-register .action-primary:active,.financial-assistance-wrapper .financial-assistance-form .action-primary:active,.verification-process .action-primary-blue:active,.verification-process .carousel .wrapper-task .controls .control .action:active,.verification-process .carousel .wrapper-task .msg .list-actions .action-retakephotos a:active,.verification-process .carousel #wrapper-review .review-task-name .list-actions .action-editname a:active,.verification-process.step-select-track .register-choice-audit .action-select input:active,.verification-process.step-confirmation .course-info .options .action-course:active,.verification-process.step-confirmation .course-info .course-actions .action-dashboard:active,.reverify-blocked .action-primary:active,.wrapper-authorize .btn-authorization-allow:active,.wrapper-msg.wrapper-auto-cert .auto-cert-message .has-actions .msg-actions .btn:active,.btn-blue:focus,.dashboard-banner .wrapper-msg .msg.has-actions .donate-actions .action-donate:focus,.login-register .action-primary:focus,.financial-assistance-wrapper .financial-assistance-form .action-primary:focus,.verification-process .action-primary-blue:focus,.verification-process .carousel .wrapper-task .controls .control .action:focus,.verification-process .carousel .wrapper-task .msg .list-actions .action-retakephotos a:focus,.verification-process .carousel #wrapper-review .review-task-name .list-actions .action-editname a:focus,.verification-process.step-select-track .register-choice-audit .action-select input:focus,.verification-process.step-confirmation .course-info .options .action-course:focus,.verification-process.step-confirmation .course-info .course-actions .action-dashboard:focus,.reverify-blocked .action-primary:focus,.wrapper-authorize .btn-authorization-allow:focus,.wrapper-msg.wrapper-auto-cert .auto-cert-message .has-actions .msg-actions .btn:focus{
  box-shadow:none;
}
.help-buttons button:hover,.login aside .btn-login .btn-login-action:hover,.register aside .btn-login .btn-login-action:hover,.passwordreset aside .btn-login .btn-login-action:hover,#forgot-password-modal #password-reset aside .btn-login .btn-login-action:hover,.login-register .login-provider:hover,.financial-assistance-wrapper .financial-assistance-form .login-provider:hover,.login .form-actions.form-third-party-auth button[type="submit"]:hover,.register .form-actions.form-third-party-auth button[type="submit"]:hover,.passwordreset .form-actions.form-third-party-auth button[type="submit"]:hover,#forgot-password-modal #password-reset .form-actions.form-third-party-auth button[type="submit"]:hover,.login-register .nav-btn:hover,.financial-assistance-wrapper .financial-assistance-form .nav-btn:hover,.login-register .button-secondary-login:hover,.financial-assistance-wrapper .financial-assistance-form .button-secondary-login:hover,.wrapper-authorize .btn-authorization-cancel:hover,.help-buttons button:active,.login aside .btn-login .btn-login-action:active,.register aside .btn-login .btn-login-action:active,.passwordreset aside .btn-login .btn-login-action:active,#forgot-password-modal #password-reset aside .btn-login .btn-login-action:active,.login-register .login-provider:active,.financial-assistance-wrapper .financial-assistance-form .login-provider:active,.login .form-actions.form-third-party-auth button[type="submit"]:active,.register .form-actions.form-third-party-auth button[type="submit"]:active,.passwordreset .form-actions.form-third-party-auth button[type="submit"]:active,#forgot-password-modal #password-reset .form-actions.form-third-party-auth button[type="submit"]:active,.login-register .nav-btn:active,.financial-assistance-wrapper .financial-assistance-form .nav-btn:active,.login-register .button-secondary-login:active,.financial-assistance-wrapper .financial-assistance-form .button-secondary-login:active,.wrapper-authorize .btn-authorization-cancel:active,.help-buttons button:focus,.login aside .btn-login .btn-login-action:focus,.register aside .btn-login .btn-login-action:focus,.passwordreset aside .btn-login .btn-login-action:focus,#forgot-password-modal #password-reset aside .btn-login .btn-login-action:focus,.login-register .login-provider:focus,.financial-assistance-wrapper .financial-assistance-form .login-provider:focus,.login .form-actions.form-third-party-auth button[type="submit"]:focus,.register .form-actions.form-third-party-auth button[type="submit"]:focus,.passwordreset .form-actions.form-third-party-auth button[type="submit"]:focus,#forgot-password-modal #password-reset .form-actions.form-third-party-auth button[type="submit"]:focus,.login-register .nav-btn:focus,.financial-assistance-wrapper .financial-assistance-form .nav-btn:focus,.login-register .button-secondary-login:focus,.financial-assistance-wrapper .financial-assistance-form .button-secondary-login:focus,.wrapper-authorize .btn-authorization-cancel:focus{
  box-shadow:none;background-image:none
}

#login-and-registration-container{
  width:1440px;
  max-width:100%;
  min-width:0%;
  min-height:calc(100vh - 148px);
}
@media (max-width: 1440px){
  #login-and-registration-container{
    width:100%;
  }
}
#tma_nav{
  width:100%;
  margin-left:auto;
  margin-right:auto;
  height:148px
}
@media (max-width:1440px){
  #tma_nav{width:100%}
}
#up_apt_nav{
  height:58px;
  padding:0;
  margin:0;
  position:fixed;
  top:0;}

#up_apt_nav,#down_apt_nav{width:100%;margin-left:auto;margin-right:auto;position:fixed;left:0;z-index:100}
#down_apt_nav img{height:60px;width:auto;margin-left:30px;float: left;}

#sub_menu{float:right;height:100%;width:auto;position:relative}
#sub_menu button,#sub_menu button:focus,#sub_menu button:hover,#sub_menu a,#sub_menu a:focus,#sub_menu a:hover,#up_apt_nav a,#up_apt_nav a:hover,#up_apt_nav a:focus{
  padding:0;
  margin:0;
  font-family:"mywebfont";
  display:block;
  float:left;
  background-image:none;
  box-shadow:none;
  border-radius:0;
  border:none;
  font-weight:bold;
  color:#fff;
  text-transform:inherit;
  border-style:none;
  outline:none;
  min-width:260px;
  height:100%;
  line-height:54px;
  vertical-align:middle;
  text-align:center;
  background-color:transparent;
  border-left:1px solid #fff;
  text-shadow:none;
  font-size:16px;
  text-transform:uppercase
  }
  #sub_menu button:first-child,#sub_menu button:first-child:hover,#sub_menu button:first-child:focus{
    border-left:none
  }
  #up_apt_nav a,#up_apt_nav a:hover,#up_apt_nav a:focus{
    float:right;
    margin-top:2px;
    margin-bottom:2px
  }



  #menu_module_apt button:last-child,#menu_cat_apt button:last-child{
    border-bottom:none
  }
  #sub_menu #menu_cat_apt button,#sub_menu #menu_cat_apt button:hover,#sub_menu #menu_cat_apt button:focus{
    border-left-width:5px;
    border-left-style:solid;
    font-size:16px;
    color:#4a4a4a
  }


  .sub_picto{
    display:none
  }
  .sub_menu{
    position:relative
  }
  #sub_menu #my_course_covers{
    border-left:none
  }
  #log_user_action{
    position:relative;
    width:90px !important;
    min-width:0px !important;
    border-left:1px solid #fff !important}
  #log_user_action .svg{
    width:30px;
    height:30px;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-15px;
    margin-top:-15px
  }
  #log_user_action span{
    position:absolute;
    left:0;
    display:none;
    width:calc(100% - 8px);
    text-align:center;
    top:96px;
    border:1px solid black;
    font-size:10px;
    line-height:10px;
    vertical-align:middle;
    padding:3px;
    height:auto;
    background-color:#fff
  }
  #log_user_action:hover span{display:block}
  #log_user_action_array{
    display:block;
    position:absolute;
    top:-5px;
    left:50%;
    margin-left:-5px;
    width:0px;
    height:0px;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    font-family:"mywebfont";
    border-bottom:5px solid black;
  }
  #down_apt_nav #sub_to_dashboard{
    width:260px;
    line-height:90px;
    vertical-align:middle;
  }
  @media (max-width: 1440px){
    #up_apt_nav,#down_apt_nav{width:100%;left:0;margin-left:0}
  }
  .sub_menu{position:relative}
  #sub_menu #my_course_covers{border-left:none}
  #sub_menu #nav_replace_before{min-width:261px}
  #down_apt_nav #sub_menu a{float:right;border-left:1px solid #fff;line-height:90px;vertical-align:middle}
  #tma_nav{height:70px}
  #down_apt_nav{top:0}
  #down_apt_nav #sub_to_dashboard_account{width:260px;line-height:90px;vertical-align:middle;border-left:1px solid #fff}
  @media (max-width: 1022px){
    #up_apt_nav,#down_apt_nav{position:relative;top:0;left:0}
    #sub_to_dashboard_account,#sub_to_dashboard{width:100% !important;border-left:none !important}
    .sub_picto{display:block}
    #logo_atp_redirect{
      cursor:pointer;
    margin-top:5px;}
    #sub_menu{
      display:none;
      width:100%;
      margin:0;
      position:absolute;
      min-height:54px;
      height:auto;
      z-index:200
    }
    #menu_module_apt,#menu_cat_apt{width:100%;float:none;left:0}
    #sub_menu #nav_replace_before{border:none}
    #sub_menu button,#sub_menu button:focus,#sub_menu button:hover,#sub_menu a,#sub_menu a:focus,#sub_menu a:hover,#up_apt_nav a,#up_apt_nav a:hover,#up_apt_nav a:focus{width:100%;float:none}
    #up_apt_nav a,#up_apt_nav a:hover,#up_apt_nav a:focus{float:right;width:259px}
    .arrow_button{left:calc(100% - 45px);bottom:28px}
    }
  @media (max-width: 425px){
    #down_apt_nav #sub_to_dashboard{width:150px;min-width:150px}
  }


#to_lms {
  width: 169px !important;
  height: 90px !important;
  min-width: 169px !important;
  line-height: 45px !important;
}
#sub_to_dashboard_account:hover span {
    display: block;
}
#account_user_action_array {
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    margin-left: -5px;
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    font-family: "mywebfont";
    border-bottom: 5px solid black;
}
#sub_to_dashboard_account span {
    position: absolute;
    left: 0;
    display: none;
    width: calc(100% - 8px);
    text-align: center;
    top: 96px;
    border: 1px solid black;
    font-size: 10px;
    line-height: 10px;
    vertical-align: middle;
    padding: 3px;
    height: auto;
    background-color: #fff;
}
#down_apt_nav #sub_to_dashboard_account{
  width: 90px !important;
  height: 90px !important;
  min-width: 90px;
  text-align: center;
  line-height: 90px;
  vertical-align: middle;
  position: relative;
}
#sub_to_dashboard_account img{
  width: 30px;
  height: 30px;
  margin-left: 0;
}
@media(max-width:1022px) {
  #to_lms{
    width: 100% !important;
    height: 54px !important;
    line-height: 54px !important;
  }
  #sub_to_dashboard {
    height: 54px !important;
    line-height: 54px !important;
    border-top: 1px solid #fff !important;
    border-bottom: 1px solid #fff !important;
  }
  #sub_to_dashboard_account {
    border-left: 1px solid #fff !important;
  }
  #my_course_covers,#nav_replace_before,#to_lms {
    border-bottom: 1px solid #fff !important;
  }
}
@media(max-width:408px) {
  #log_user_action,#down_apt_nav #sub_to_dashboard_account {
    width: 60px !important;
    height: 60px !important;
    line-height: 60px !important;
    min-width: 40px !important;
  }

  #sub_menu {
    top: 60px;
  }
}

#sub_to_dashboard_account{
  width: 200px;
}

.class-submenu{
  background-color: #fff !important;
border-left: none !important;
color: #4a4a4a !important;
font-size: 16px !important;
border-bottom: 1px solid #c6c6c6 !important;
}

.vignette{
  width: 30px!important;
  height: 30px!important;
  margin-left: 0!important;
}
.hide{
  display: none;
}
.class-submenu{
  width: 100%;
}

#atp_menu_mobile {
 cursor: pointer;
}



/* Barre menu */
#down_apt_nav{
  margin:0;
  height: 70px;
  box-shadow: 0 5px 15px rgba(0,0,0,.2);
  color :white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#right-menu{
  display: flex;
  align-items: center;
  justify-content: start;
  height: 100%;
  width: 100%;
  flex-direction: row-reverse;
}
.menu-item-atp{
  display: inline;
  float: right;
  color: white;
  font-weight: bold;
  min-width: 250px;
  text-align: center;
  line-height: 70px;
  height: 100%;
  cursor:pointer;
}
#menu-categories, #menu-modules, #logout-btn{
  text-transform: uppercase;
}
#menu-modules{
  border-right: 1px solid white;
  border-left: 1px solid white;
}

/* Sub menus */

#menu_module_apt button{
  display: block;
}
#cat_fond{
    border-left:8px solid #006a82!important;
}
#cat_solu{
    border-left:8px solid #dda000!important;
}
#cat_dem_com{
      border-left:8px solid #E9355E!important;
}
#cat_reg{
  border-left:8px solid #30B0B4!important;
}
#cat_all{
  border-left:8px solid #767a7e!important;
}

/* Gestion du hover */
@media (min-width: 1022px){
  #menu-categories:hover #menu_cat_apt{
    display: block!important;
  }
  #menu-modules:hover #menu_module_apt{
    display: block!important;
  }
  #profile_menu:hover #profile-submenu{
    display: block!important;
  }
}


/* Menu mobile */
#down_apt_nav #atp_menu_mobile{
  margin-left:0;
  position:absolute;
  top:50%;
  right:30px;
  height:32px;
  margin-top:-23px
}
@media (max-width: 1022px)
{
  #down_apt_nav{
    display: block;
  }
  .menu-item-atp{
    width: 100%;
    min-width: auto;
    height: auto;
  }
  #right-menu{
    display: none;
    height: auto;
  }
  #menu_module_apt, #menu_cat_apt, #profile-submenu{
    width: 100%;
  }
  #menu-modules{
    border:0px!important;
  }
}

#profile-submenu a{
  line-height: 25.6px;
  padding-top: 4px;
  padding-bottom: 4px;
  display: block;
  text-align: center;
  font-weight: 600;
  border-top:1px solid gray;
}
#profile-submenu a:hover{
  text-decoration: none;
}

#profile-submenu a:last-child{
  border-bottom: 0px!important;
}
.block{
  display: block!important;
}
.hide{
  display: none!important;
}

#user-icone svg{
  font-size: 20px;
  padding: 10px;
  border:1px solid white;
  border-radius:50%;
  background-color: white;
}
#user-icone{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: darkgray
}

.course-index .accordion .course-navigation .button-chapter .group-heading .icon{
  display: none!important;
}

#profile-submenu{
  background-color: white;
  border:1px solid lightgray;
}
.boutton-deconnexion{
  padding: 10px;
  padding-top: 0px;
}
.boutton-deconnexion a{
  color: gray!important;
  background-color: lightgray;
  border: 0px solid !important;
}
.user-account-atp{
  text-transform: lowercase;
  font-family:'mywebfont';
  color:rgb(74, 74, 74);
  font-weight: 600;
  padding:0px 10px;
}
.profile-name-atp{
  font-size: 10px!important;
  border: 0px!important;
}
.access-back-atp{
  padding:0px 10px;
}
.email-atp-user{
  margin-top: 0px;
  text-transform: lowercase;
  font-weight: 400;
  font-size: 12px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.name-atp-user{
  font-size: 14px;
  text-transform:capitalize;
}


#amundi-brand-container{
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 10px;
  box-sizing: border-box;
  padding: 5px;
}
.trait-separation {
  height: 100%;
  border-left: 1px solid white;
  opacity: 0.5;
}

.bold{
  font-weight: 600;
}
.uppercase{
  text-transform: uppercase;
}
.margin-null{
  margin:0;
}
.pad5{
  padding: 5px;
}
.logout-text{
  color:rgb(128, 128, 128);
  margin-left: 10px;
}
.content-wrapper{
  padding-top: 70px;
}
  nav a:hover, nav a:visited{
    text-decoration: none;
  }
  #main_atp_logo{
    height: 100%;
  }
  .navbar-brand{
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    height: auto;
  }
  #main_atp_logo{
    max-height: 60px;
  }
  #amundibrand_logo{
    max-height: 40px;
  }
  .amundibrand_wrapper{
    margin-top: 0px;
  }
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
    margin-left: 0px!important;
  }
  .separation-logos{
    border-right: 1px solid rgba(255,255,255,0.5);
  }
  #modules_title, #categories_title{
    font-family: "mywebfont";
    color:!atp_third_text_color !important;
    font-weight: 700;
    font-size: 16px;
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 23px;
  }
  #user-icone{
    cursor: pointer;
  }
  .navbar-toggle{
    margin-top: 18px;
  }
  .navbar-default .navbar-toggle{
    background: none!important;
    border: 0px;
  }
  .navbar-default .navbar-toggle .icon-bar{
    background-color: white;
  }
  #user-icone{
    border-radius: 50%;
    padding: 10px;
  }

  #user-icone img{
    height: 24px!important;
  }
  .profile-menu-dropdown{
    position: absolute;
    right: 0;
    top: 70px;
    background-color: white;
    padding: 10px;
    display: none;
    width:250px;
    z-index: -20px;
  }
  .capitalize{
    text-transform: capitalize;
  }
  #user-btn{
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 16px;
    display: block;
    position: absolute;
    top:0;
    right: 0;
  }
  @media(min-width:768px){
    #module_btn:hover #menu_module_apt, #categories_btn:hover #categories_menu{
      display: block!important;
    }
    #user-btn:hover .profile-menu-dropdown{
      display: block;
    }
  }
  #module_btn, #categories_btn{
    width:250px;
    text-align: center;
  }
  #module_btn{
    border-left:1px solid rgba(255,255,255,0.5);
  }
  #categories_btn{
    border-left:1px solid rgba(255,255,255,0.5);
    border-right:1px solid rgba(255,255,255,0.5);
  }
  #menu_module_apt, #categories_menu{
    width:250px;
    border: 0px;
    padding: 0px!important
  }
  #categories_menu{
    padding: 0px;
  }
  .submenu-item-atp{
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    color:#4a4a4a;
    font-family: 'mywebfont';
    font-size: 16px;
    padding: 5px;
    font-weight: 600;
    border-top: 1px solid #4a4a4a;
  }
  .font-basic{
    color:#4a4a4a;
    font-family: 'mywebfont';
  }

  .navbar-right{
    margin-right: 75px;
  }
.font-12{
  font-size: 12px;
}
.link-menu-user{
  font-weight: 600;
  font-size: 16px;
  border-top: 1px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
}
.gray-btn{
  text-align: center;
  background-color: lightgray;
  padding: 5px;
  color: white;
  font-weight: 600;
}
.navbar-collapse{
  height: auto!important;
  overflow: initial!important;
}
@media(max-width:1023px){
  .amundibrand_wrapper{
    display: none;
  }
  .separation-logos{
    border-right: none;
  }
}

@media(max-width:768px){
  #module_btn, #categories_btn{
    width:100%;
    border: none;
  }
  .navbar-default .navbar-toggle{
    right: 50px;
    position: absolute;
    right: 65px;
  }
  #menu_module_apt, #categories_menu{
    width:100%;
  }
  .navbar-right{
    margin-right: 0px;
  }
  .navbar-collapse{
    padding: 0px;
  }
  #categories_btn{
    padding:1px;
  }
}
