.header-global .nav-global li a, .header-global .nav-global div a, .header-global .nav-global li a:hover, .header-global .nav-global li a:focus, .header-global .nav-global li a:active, .header-global .na$
    color: rgba${base_color};
}
.header-global .nav-courseware li .btn, .header-global .nav-courseware div .btn, .login .form-actions button[type="submit"], .register .form-actions button[type="submit"], .passwordreset .form-actions bu$
    box-shadow: 0 2px 1px 0 #${dark_color};
    background: #${dark_color};
}
.header-global .nav-courseware li .btn:hover, .header-global .nav-courseware div .btn:hover, .login .form-actions button[type="submit"]:hover, .register .form-actions button[type="submit"]:hover, .passwo$
    background: rgba${base_color};
}
.header-global .nav-courseware li .btn:focus, .header-global .nav-courseware div .btn:focus, .login .form-actions button[type="submit"]:focus, .register .form-actions button[type="submit"]:focus, .passwo$
    box-shadow: 0 0 6px 0 rgba${base_color};
}
.home>header .title .course-search .search-input:focus {
    border-color: rgba${base_color};
}
.home>header .title .course-search .search-button {
    border: 2px solid rgba${base_color};
    background: rgba${base_color};
}
.home>header .title .course-search .search-button:hover, .home>header .title .course-search .search-button:focus {
    background: rgba${light_color};
}
.courses-container .courses .course {
    border-bottom: 3px solid #${dark_color};
}
.courses-container .courses .course .course-info .course-title {
    color: rgba${base_color};
}
.courses-container .courses .course .course-image .cover-image .learn-more {
    border-color: rgba${base_color};
    background: rgba${base_color};
}
.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a:hover, .wrapper-footer footer#footer-openedx .colophon .nav-colophon li a:focus, .wrapper-footer footer#footer-openedx .colophon .nav-co$
    color: rgba${base_color};
}
.wrapper-footer footer#footer-openedx a {
    color: rgba${base_color};
}
.find-courses .discovery-input:focus {
    border-color: #${dark_color};
}
.find-courses .discovery-submit {
    border-color: #${dark_color};
    background: rgba${base_color};
}
.find-courses .discovery-submit:hover, .find-courses .discovery-submit:focus {
    background: rgba${light_color};
}
.find-courses .search-facets .facet-option:hover, .find-courses .search-facets .facet-option:focus {
    background: rgba${base_color};
}
